[2021-02-04 21:30] mbround18 opened #3 "Odin CLI"
CLI arguments passed are ignored. ENV variables are red without issue but anything passed to the cli start is ignored.

[2021-02-05 06:50] mbround18 commented on #3
This has been fixed in the `latest` version

[2021-02-05 07:56] #3 closed

[2021-02-06 02:35] Devidian opened #8 "Auto-Update"
Hey man,

first of all thanks for the docker. I was close to create my own when i found yours instead. Working fine so far but it seems there is no update call to steamcmd if the entrypoint detects the game executable. Is there any way to upgrade the server?

I solved it in my case by completly removing the app and reinstall, of course i missed to backup my save before :D

Greeings
Devidian

[2021-02-06 02:43] briandilley commented on #8
If you mounted the volumes from the sample you should just be able to pull a new image right?

[2021-02-06 04:24] mbround18 commented on #8
Yes, technically speaking if you only mount the save directory you should just be able to restart the container and it should redownload files. I haven't tested this functionality yet but the logic is there.

I can add some update functionality too :) you can just rerun install to download the update but I can create some additional functions

[2021-02-06 10:13] Devidian commented on #8
Oh i meant steamcmd should Just Check Files and Patch if possible, If you execute it at Startup. Others Steam Servers i Run do the Same. So i can Just Run docker-compile restart. Even with a mounted Game dir.

**Capital Letters Copyright by mobile correction

[2021-02-07 03:08] mbround18 commented on #8
@Devidian I removed the if check, rerunning `odin install` each start of the container will check for app updates and not force reinstalling the server.

[2021-02-07 03:33] #8 closed

[2021-02-07 10:15] FrederikP opened #11 "Add validations for supplied passwords to fail early."
Hi! Thanks for the repo.

I'm using the docker-compose file and the docker container starts, installs everything, but never really seems to fully start listening.
I can't find it though the steam server browser.

This is the output:

[code]

ODIN says `[ODIN][INFO]  - Keep an eye out for "Game server connected" and you server should be live!` but I can't find `Game server connected` in the log, so

[2021-02-07 10:25] FrederikP commented on #11
Hm might this be related to trying to start a world that was created on a windows machine?

[2021-02-07 10:34] FrederikP commented on #11
Ok, looks like I had to start a fresh world first. start the server. Then shut it down and change the world to the existing save. Then it worked

[2021-02-07 18:35] FrederikP commented on #11
Or it might've been the short password...
[code]

[2021-02-07 18:48] mbround18 commented on #11
Lol I can look into adding some validation for the password to fail before the server starts :P

[2021-02-08 21:42] vorpalhex opened #14 "Not handling quoted yaml"
When you supply env values in docker-compose, it's valid to wrap strings in double quotes (and recommended because yaml sometimes casts values in funny ways). However the current templating for `start_server_rusty.sh` is not correctly handling this and instead producing double quotes:

[code]

 This does launch valheim but since password will be parsed as `""` the server will never be registered o

[2021-02-08 21:49] mbround18 commented on #14
Can you provide an example of your docker-compose?

[2021-02-08 22:20] vorpalhex commented on #14
[code]

[2021-02-08 22:27] mbround18 commented on #14
I see, my environment variables are following a different spec. For mine they are listed as:
[code]

[2021-02-08 22:30] mbround18 commented on #14
I can fix this after work, should be ~5-6pm PST

[2021-02-08 22:41] vorpalhex commented on #14
I was able to just unquote my variables for now so no rush, but thanks for the prompt attention.

[2021-02-08 22:56] Fabiryn opened #16 "ability to change steam userid"
Seems like the docker user and the environment puid pgid are ignored.

[code]

currently I can only manage to run the container if I grant 777 access to the mounted volume.

[2021-02-09 00:48] mbround18 commented on #16
Where are puid and guid variables coming from?

[2021-02-09 01:09] MattPark commented on #16
Same.  So what happens is the container needs to know what uid/gid to make the steam:steam user run as...  Should pull those from environment variables during setup.

So for me I can't get through install even though I have 777 the directories on host system

![image](https://user-images.githubusercontent.com/1690680/107301351-5370f280-6a49-11eb-8114-d8b0c5861970.png)

[2021-02-09 01:42] mbround18 commented on #14
@vorpalhex I just merged #17 which should handle this but I suspect you will run into #16 as well based off the compose example you provided.

[2021-02-09 03:31] mbround18 commented on #16
@MattPark and @Fabiryn I need some help,

After doing some digging here are my findings and please correct me if I am wrong before I implement a fix. The `user` field in the docker compose directs docker compose to run as a specific user inside the container. It should be set to root in most cases if the container itself handles switching to an application user. The usage of a `PUID` and `GUID` ar

[2021-02-09 03:33] mbround18 commented on #14
I am going to close this issue, I have tested this via:
- Docker Compose locally
- Base Docker locally
- Odin via CLI on an ubuntu VPS
- Odin via Environment Variables on an ubuntu VPS

[2021-02-09 03:33] #14 closed

[2021-02-09 04:47] vorpalhex commented on #16
Your understanding is correct @mbround18 but to try and add more context:

Your base image has two users, `root` and `steam`. It's the steam user which owns the running steamcmd. The steam user normally gets the next incremental UID and a GID available from the perspective of the container's kernel. That UID and GID is preserved on volume mounts, and the "owner" of those files in the mount on the

[2021-02-09 06:08] mbround18 commented on #16
Thank you @vorpalhex  and @MattPark, I was lost on this whole permissions thing. I think I have a fix for this but I am out of time to give it a whirl. Ill toss my branch up if one of ya'll do not mind giving it a spin locally?

[2021-02-09 06:12] mbround18 commented on #16
See PR #18 for the updates to acknowledge the `PUID` and `PGID`

[2021-02-09 20:42] mbround18 commented on #16
This issue is fixed, could someone please verify on `:latest` version?

[2021-02-09 21:19] Webrow opened #22 "Dockerfile / docker-compose usage"
Hey, Thank you for the work put into this project.
I build the Dockerfile into an image, and started it with docker-compose up -d.
Server starts nicely, but there is no way for me to "find" the server.
The readme states a lot of usage regarding odin, but as far as I can see when I use the docker-compose file the init + entry should start the server perfectly and the server should start running on

[2021-02-09 21:22] mbround18 commented on #22
Yes the server should initialize on the specified port, are you looking to find the server in the in game server browser?

[2021-02-09 21:23] Webrow commented on #22
No currently using the steam server browser. added the ip + port to make sure it should list.
Whenever I start the container (regardless of the port set in the docker-compose it always adds a udp 2456 entry in my iptables) Nevertheless on all 3 ports, nor the one specified a game can be found

[2021-02-09 21:25] mbround18 commented on #22
Are you doing this from your local machine or a VPS? I always test on an ubuntu VPS and I had to ensure my firewall allowed access to those ports.

[2021-02-09 21:29] Webrow commented on #22
This is a linux machine where as far as I know all the port rules have been opened. whenever I use tail on the output this it never reaches Gameserver connected

`
Unloading 490 unused Assets to reduce memory usage. Loaded Objects now: 86220.
Total: 70.936903 ms (FindLiveObjects: 4.447402 ms CreateObjectMapping: 10.294278 ms MarkObjects: 51.873984 ms  DeleteObjects: 4.316696 ms)

02/09/2021 22:28:

[2021-02-09 21:46] MattPark commented on #16
Looking at PR #18, I think you nailed it.  I will pull the latest from docker hub and try that to confirm.  Nice job on this, especially for a first  time.

[2021-02-09 22:15] Webrow commented on #22
@mbround18 it worked out for me finally, when specifying a port, the server will always start at port + 1, so 2456 became 2457, at that port I was able to connect.

[2021-02-09 22:15] #22 closed

[2021-02-09 22:18] Webrow opened #23 "Setting UID / PID can have big issues on shared servers"
Hey,

Setting UID / PID can have major issues (in my case all files of the server are owned by another user, if you are not able to sudo you will be unable to chown the files. Might it be an idea to introduce a user created in the alpine image and from there connect it. Yes itll cause write / read issues during copying of savegames into temp, but isnt that how it is supposed to work (or maybe use

[2021-02-09 22:35] mbround18 commented on #22
Ahh yeah, thats just how the server works 🤷 I am glad its online <3

[2021-02-09 22:47] MattPark commented on #23
It's fixed in latest.  See #16.  You can set to whatever you need to using PGID/PUID env variable

[2021-02-09 22:50] Webrow commented on #23
Hey Matt, its not regarding the matter that its fixed, just that it defaults to 1000. 1000 is not always your own user, and knowing it later on can cause bigger issues. (I assume 1000 was chosen cause often its the first user). Nevertheless its a nitpick. Ill close it!

[2021-02-09 22:50] #23 closed

[2021-02-09 23:06] MattPark commented on #23
Yeah I mean I see your point though.  Like ideal default should be the result of `id -u` and `id -g` probably ... not a huge deal since this fix gives everyone the option whereas option was missing before.

[2021-02-09 23:08] Webrow commented on #23
Agreed

Op wo 10 feb. 2021 00:06 schreef Matt Park <notifications@github.com>:

[2021-02-09 23:19] broizter opened #24 "Allow changing the "public" variable"
When you launch the server software, there's a parameter called public that you can give either a value of 0 or 1. This is helpful if you wanna use the permittedlist.txt file to keep a whitelist of users that can connect. Would be awesome if this parameter could be changed through one of the environment variables similar to how the server name, password and so on can be changed.

It's this line I

[2021-02-09 23:24] mbround18 commented on #24
I can take a look at adding that :)

[2021-02-10 01:20] ethw opened #25 "Buildings not saved"
Any building I put down does not survive a server restart. Player position seems to be saved (I'm assuming that's client tracked rather than server) but buildings vanish.

Here's my setup:
Running ubuntu 20.04.
Using :latest.
Using new world created by default when the server starts.
chmod 777 on the entire ./valheim directory to avoid any potential permission issues.
Running as my user account.

[2021-02-10 01:51] twittyc commented on #25
This is a known issue with the Valheim server. Not something this project can fix. We will have to wait for an update from the developers.

[2021-02-10 02:14] #25 closed

[2021-02-10 02:29] ethw commented on #25
Much appreciated, thanks for the information. I guess Early access has to have some drawbacks.

[2021-02-10 03:20] gunnrcrakr opened #26 "Can you make basic guide?"
I never use Docker before, I want to launch server for my friends via DigitalOcean, Can you make Quickstart Basic (Noob) Guide ?

[2021-02-10 03:32] mbround18 commented on #26
Absolutely!

[2021-02-10 03:41] #16 closed

[2021-02-10 04:18] gunnrcrakr commented on #26
Please write up docker guide 👯

[2021-02-10 07:46] mbround18 commented on #26
Let me know if I need to add more details <3 see discussion #28

[2021-02-10 08:54] mbround18 commented on #24
I have a PR up for this, I am going to crash since it is 1am for me. Ill review my updates tomorrow and merge them after retesting :) Feel free to take a gander at the changes #29

[2021-02-10 08:54] mbround18 commented on #11
I have a PR up for this, I am going to crash since it is 1am for me. Ill review my updates tomorrow and merge them after retesting :) Feel free to take a gander at the changes #29

[2021-02-10 10:14] broizter opened #30 "Lost progress when stopping the docker container"
I ran a simple "docker stop valheim" and "docker start valheim" and it stopped the container within maybe 5 seconds which should indicate it was done cleanly, but when it was started again the server had rolled back 30 minutes or so. I'm sure you need more information to debug this so let me know what that would be. This was a pretty serious bug that made me a bit scared.

Edit: It's possible this

[2021-02-10 12:25] FrederikP commented on #11
Nice! Looks good to me!

[2021-02-10 13:18] spion06 opened #32 "Use SIGINT for server shutdown"
as of version 0.143.5 the server process no longer uses the file marker to note shutdown. It instead will use honor SIGINT.

https://steamcommunity.com/games/892970/announcements/detail/3059603085893784927

Since this is no longer used https://github.com/mbround18/valheim-docker/blob/main/src/files/server_exit.rs#L14-L18 should be updated to send a SIGINT to the process rather than writing to the

[2021-02-10 13:28] waschinski commented on #30
I actually think you are supposed to exec `odin stop` inside the container before stopping the container itself.

[2021-02-10 13:32] broizter commented on #30
I haven't tried that, but I guess it would make sense! If that is the solution then I guess the docker container should run that command automatically when shutting down? Because it's easy to forget if you need to reboot the server or whatever else it may be.

[2021-02-10 15:16] Shuro commented on #30
Normally it should do an graceful exit, aka ctrl + c, to the running stuff. But there was also a patch for the server in 0.143.1 of the server files, maybe that helps.

[2021-02-10 15:30] Shuro commented on #32
I tried to come with a way to send SIGINT to the docker container, noticing that it also saves the wrong PID in the pidfile:

[code]

[2021-02-10 16:28] mbround18 commented on #32
Good call out, ill take a look at putting in a fix for this today

[2021-02-10 16:30] mbround18 commented on #30
If you must stop the server for now, I suggest you use htop to send SIGINT to the server process while I work on a fix

[2021-02-10 17:06] mbround18 commented on #24
Changes look good <3

[2021-02-10 17:06] #24 closed

[2021-02-10 17:07] #11 closed

[2021-02-10 17:50] Malachianer opened #34 "Servers stops working"
Hi,

I started this server as docker container on Hetzner instance.
After first player login and several seconds, player is disconnected and server is not working anymore.
Only debug output I have is "docker stats" command, where I can see, that usage dropped to 0% CPU (from about 80%) and 5mb memory (from about 1,5gb)

I will provide other logs if you can tell me where to get them.

[2021-02-10 18:19] mbround18 commented on #34
post the contents of `output.log` in the Valheim directory

[2021-02-10 18:33] #26 closed

[2021-02-10 18:33] Malachianer commented on #34
[code]

[2021-02-10 18:34] mbround18 commented on #34
It looks like your server is still running, you said it dropped to zero? try `pidof valheim_server.x86_64` and let me know if returns a number

[2021-02-10 18:45] Malachianer commented on #34
After start, it returns number.
After disconnection from server, no number is returned.

[2021-02-10 18:50] mbround18 commented on #30
Fix for this is live on `:latest` and working on my production servers. Would someone mind giving it a whirl to confirm?

![image](https://user-images.githubusercontent.com/12646562/107556228-61338e80-6b95-11eb-8086-3ee61144ec79.png)

[2021-02-10 18:50] mbround18 commented on #32
Fix for this is live on `:latest` and working on my production servers. Would someone mind giving it a whirl to confirm?

![image](https://user-images.githubusercontent.com/12646562/107556228-61338e80-6b95-11eb-8086-3ee61144ec79.png)

[2021-02-10 18:56] mbround18 commented on #34
Is t here anything in the log after you disconnected?

[2021-02-10 19:02] Malachianer commented on #34
[code]

Found in syslog, seems like run out of memory (VPS had 2GB of total memory).
Upgraded to 4GB of total memory and seems to be running fine now.
No other log telling something usefull.

[2021-02-10 19:17] Shuro commented on #32
not familiar with rust, but the output of pidof should be without any new lines, so the replace would be unneccesary. It could be problematic if there are multiple processes tho.

Example:
![grafik](https://user-images.githubusercontent.com/944030/107559797-d24a6480-6bdc-11eb-8d69-ad93fa3bdc09.png)

[2021-02-10 19:25] Shuro commented on #32
Tested it with my production server and it didn't seem to work out.

Left: Stopped container, pulled newest image, started, waited and stopped.
Right: `docker-compose logs -f` output after start.
![grafik](https://user-images.githubusercontent.com/944030/107560669-ecd10d80-6bdd-11eb-972b-be3c3cb0cebb.png)

[2021-02-10 19:28] Shuro commented on #34
Yes, it is a bit memory hungry. No problem with the docker container per se. ^^

[2021-02-10 19:31] Malachianer commented on #34
Is there any mechanism to "capture" this kind of process kill and log it / report it to user?

[2021-02-10 19:32] mbround18 commented on #32
For the pid, I don't support running multiple servers in one container and currently it returns the pid if the main process.

I'll check outputs in a little bit

[2021-02-10 20:14] mbround18 commented on #34
I might be able to bake in a healthcheck

[2021-02-10 20:19] FrederikP opened #37 "Configuring the auto update time"
The docs say:
[code]

Is there a way to configure that so it restarts at 9am for example?

[2021-02-10 20:24] mbround18 commented on #37
Not atm no, this is something I can add

[2021-02-10 20:46] mbround18 commented on #32
@Shuro tossed up #38 which handles if you decide to run multiple processes. It finds it by name and sends SIGINT via rust rather than using the operating system commands.

[2021-02-10 21:01] spion06 commented on #32
looks to work for me! I do have some issues with the entrypoint.sh actually triggering the exit trap on kubernetes. I think if you were to change https://github.com/mbround18/valheim-docker/blob/main/src/scripts/init.sh#L74 to do an exec it would behave as expected.

[2021-02-10 21:04] mbround18 commented on #32
Great minds think alike :P I am actually writing that bit right now

[2021-02-10 21:06] Shuro commented on #32
Got the following now:
[code]

[2021-02-10 21:22] mbround18 commented on #32
Hey @spion06 when I added the trap to the init it doesnt seem to shutdown the server correctly it still exits with 137

[2021-02-10 21:35] spion06 commented on #32
yeah that's most likely due to su swallowing it. gosu might be a better option here https://github.com/tianon/gosu

[2021-02-10 21:45] mbround18 commented on #32
Hmm I added gosu and the exit coming out is still 137... I will have to do some more digging on this

[2021-02-11 02:56] #32 closed

[2021-02-11 03:34] mbround18 commented on #30
Suhhhweeeeeeet! Confirmed on my kubernetes cluster. Closing this issue, thank you @spion06 for the help <3
![image](https://user-images.githubusercontent.com/12646562/107599912-5f8eb880-6bdf-11eb-9f95-7e989189d825.png)

[2021-02-11 03:34] #30 closed

[2021-02-11 04:50] vorpalhex commented on #34
Normally Docker should detect that the target process has crashed and fallback to Docker's methods of handling (eg restart and marked OOM_KILLED true under `docker inspect`). It looks like the `ENTRYPOINT` in the Dockerfile is bash though, and since the script is "successful", the error never propagates. Something like `tini` should fix this - https://github.com/krallin/tini

[2021-02-11 05:10] mbround18 commented on #34
I dont see how baking in another resource on top of odin, steamcmd, and gosu would help. @vorpalhex would you mind adding more reasoning not to use the HEALTHCHECK function of a docker image? or creating a branch to with a working example of this?

[2021-02-11 05:59] cnuland opened #45 "Server Doesn't Start"
The container has been running in my k8s cluster for a couple of hours now and I haven't seen the game sever is ready message, so I'm thinking it might be hung at this point. I'm also seeing an error message when creating a dedicated server at the beginning `02/10/2021 23:27:09:   failed to load Dedicated`. Was curious if anything stood out or any other way I could debug the container, Here is the

[2021-02-11 06:02] mbround18 commented on #45
Did you move your world save files or change its name?

[2021-02-11 06:25] cnuland commented on #45
I didn't change any of those details, but I did mount volumes at these mount locations, mimicking what you did with your docker compose script locally.

[code]

[2021-02-11 06:26] mbround18 commented on #45
that looks like kubernetes configurations

[2021-02-11 06:26] mbround18 commented on #45
This is the docker guide https://github.com/mbround18/valheim-docker/discussions/28

[2021-02-11 06:34] cnuland commented on #45
sounds good, if I get this working then I'll PR in some kubernetes instructions, it should just work with the container as is, but I have a hunch its a permissions issue, thanks for taking a look at least :)

[2021-02-11 06:34] #45 closed

[2021-02-11 06:35] mbround18 commented on #45
there is a kuberentes guide already :) https://github.com/mbround18/valheim-docker/discussions/20
it looks like you are missing subpath in your config

[2021-02-11 08:02] FrederikP commented on #37
Would be really cool. It's a nice to have.

As a workaround, would it currenly be possible to set TZ to a certain timezone so that I can decide when the upgrade will run?
E.g.: I'm in Germany (UTC +1) and I want it to run in the morning/noon. So when I choose a timezone that is US westcoast or so, then it should run ~9 hours later than it would, when I would choose the "correct" timezone for Germa

[2021-02-11 08:26] mbround18 commented on #37
Yeah! Technically as a work around all you have to do set the time zone to match when you want it to run or as close as possible. For example, mine uses an african time zone because I want it to restart at 3pm for me on the west coast. Ill have to out this in as a feature in a couple of days. (Out of town atm)

[2021-02-11 10:16] Shuro commented on #32
Yes, looks fine now. Exiting with cod 143, which means all is fine (SIGTERM was sent to docker container).

@mbround18 Only suggestion from my side. Stop via odin first and then kill the `tee`? 😅
This way you could confirm the log entries for saving the world, etc, which are lost if you kill `tee` first.

[2021-02-11 17:15] AtroposOrbis opened #48 "Write Permission Error"
When I updated the compose file and attempted another run, the same error occurred...
![image](https://user-images.githubusercontent.com/8618455/107672151-9a860000-6c62-11eb-828f-27b1c06e01c9.png)

![image](https://user-images.githubusercontent.com/8618455/107671983-67dc0780-6c62-11eb-930a-be8295df67c2.png)

_Originally posted by @AtroposOrbis in https://github.com/mbround18/valheim-docker/discuss

[2021-02-11 17:17] mbround18 commented on #48
On your host what are the permissions of ./valheim/saves and ./valheim/server ? also as per my reply whats your user and group id? if they are not 1000 you need to supply them as environment variables.

[2021-02-11 17:19] AtroposOrbis commented on #48
So those are required now? In the documentation here (below) it says that they are not required.
![image](https://user-images.githubusercontent.com/8618455/107672777-4deef480-6c63-11eb-8a5c-60f3a9767896.png)

Should I create the saves & server directories prior to running `docker-compose up`?

[2021-02-11 17:22] mbround18 commented on #48
I should be more clear in the documentation, they are required if your user and group ID are not 1000.

[2021-02-11 17:31] AtroposOrbis commented on #48
@mbround18 I supplied the ID of 0/0 as I'm logged in as root. Alas, the error still occurs. Status code 8 still.

[2021-02-11 17:33] mbround18 commented on #48
might I suggest you create a non root user, add them to the docker group, then run the docker compose as that user? It is a massive security risk to run as root.

[2021-02-11 17:36] AtroposOrbis commented on #48
This is just a quick VPS so I wasn't looking to create something secure right now. Just to get the server running to verify that this container works. Does it require this step then? If so I'll try creating a user now....

[2021-02-11 17:37] mbround18 commented on #48
Yesss!!! Lol this container is designed to be run on a non root user :P

[2021-02-11 17:38] AtroposOrbis commented on #48
T_T Alright. I'll get the commands in place and then post them here for you to hopefully add to the guide for others.

[2021-02-11 17:50] AtroposOrbis commented on #48
@mbround18 still getting the same error... :(
![image](https://user-images.githubusercontent.com/8618455/107676903-a6c08c00-6c67-11eb-9e8f-be8940d82b21.png)

[2021-02-11 18:32] mbround18 commented on #48
Is this steam user in the docker group? (In order to spin up the compose)

Sometimes docker compose has funky permissions and it's dependant on how you set it up. You can try, as the steam user, creating those directories on your host.

[2021-02-11 19:37] CodeInKlingon opened #49 "Stuck at starting to load scene"
After running the docker compose command the setup stops just after the following line:
<img width="1324" alt="Screen Shot 2021-02-11 at 2 34 24 PM" src="https://user-images.githubusercontent.com/9805593/107689066-5d2b6d80-6c76-11eb-968a-01ff6532e056.png">
Any thoughts as to why this is happening?

[2021-02-11 19:49] Richi2293 commented on #49
Same problem I had, I solved it by increasing the ram to 2Gb and the cpu to two cores

[2021-02-11 22:07] krovikan666 commented on #49
@Richi2293 I am running into a similar issue, where did you change the RAM and CPU core usage configuration?

[2021-02-11 23:02] Richi2293 commented on #49
I am using Digitalocean as hosting, I resized the server and it worked.
Except that at the moment I can't see the server but at least it didn't crash at that point in the screenshot

[2021-02-11 23:21] mbround18 commented on #49
@Richi2293 You can use the server browser in steam to direct connect

https://imgur.com/gallery/aXFpcKg

[2021-02-12 00:12] krovikan666 opened #52 "Server stuck at DungeonDB Start 477"
Env: OpenSuse 15.2
CPU: AMD FX-8320E Eight-Core Processor
RAM: 32Gb

I ran the following docker create:

[code]

However, everything time I tried to create and start the container it gets stucks and never starts up the server. I'm not using docker-compose due to the local environment.

I have attached the logs

[_valheim_logs.txt](https://github.com/mbround18/valheim-docker/files/5969063/_valheim_

[2021-02-12 00:30] mbround18 commented on #52
based on that log, your server should be running

[2021-02-12 00:39] krovikan666 commented on #52
Odd because steam isn't able to find it, and telnet even to the docker IP over port 2456 doesn't work.

I checked netstat in the container and it looks like 2457 is open, but not 2456

![image](https://user-images.githubusercontent.com/13492347/107717101-0af74600-6c90-11eb-80e2-fc5e52436b21.png)

[2021-02-12 00:45] mbround18 commented on #52
inside the docker, whats `pidof valheim_server.x86_64` return?

[2021-02-12 00:50] mbround18 commented on #52
Minor note, you should not be using a privileged container for this

[2021-02-12 00:52] krovikan666 commented on #52
Okay, I don't know what I did, but it's working; maybe it just took a while to register with steam? Not sure, as for privileged, ya I need to properly set up my security profiles but haven't had a chance.

Thank you for your assistance :)

[2021-02-12 00:52] #52 closed

[2021-02-12 02:09] Shuro commented on #49
Sometimes you need to use the :2457 port. Also yea make sure you have at least 2-3 GB of memory free. The Game might not be heavy on the graphics, but it uses some memory for the big world.

[2021-02-12 08:43] Richi2293 commented on #49
Okok thanks.

(Question out of section)
Which hosting do you use?
I had a Digitalocean but it seems too expensive for such a server

[2021-02-12 08:51] Shuro commented on #49
Personally I use a private physical server, but that is way more expensive for only a game server. :) Maybe you should try hosted gameserver alternatives like https://www.g-portal.com

[2021-02-12 10:25] broizter opened #54 "Timezone inside container off by one hour"
Outside container:

[code]

But this is what the container returns:

[code]

So the container gets the correct timezone variable, but it's off by one hour.

[2021-02-12 11:31] AtroposOrbis commented on #48
I did docker and then full perms and still no luck. I'll just going to nuke the vds and start from scratch today. -_-

[2021-02-12 11:36] AtroposOrbis opened #55 "Regarding the docker-compose.yml config"
Config of getting started guide... (https://github.com/mbround18/valheim-docker/discussions/28)
![image](https://user-images.githubusercontent.com/8618455/107763274-5f380f80-6cfc-11eb-9f21-d063b2679779.png)

and the config used in the README.md... (https://github.com/mbround18/valheim-docker/blob/main/README.md)
![image](https://user-images.githubusercontent.com/8618455/107763349-82fb5580-6cfc-11e

[2021-02-12 16:33] mbround18 commented on #55
Good catch, it shouldn't but I can update it to keep parity

[2021-02-12 16:57] mbround18 commented on #55
Just merged and matched in docs, thanks for the catch!

[2021-02-12 16:57] #55 closed

[2021-02-12 17:58] MGVice opened #58 "Where is the WorldName.db stored"
Trying to copy a world from a previously locally hosted instance. Where do I put the db file for the world at? I don't see where it's created in my mounted /saves or /server dir? I know the world's .fwl goes in the mount point for /saves/worlds. Do I just put the db there too?

[2021-02-12 18:35] MGVice commented on #58
I'm just dumb. you can put both in there and it works. thank you

[2021-02-12 18:35] #58 closed

[2021-02-12 19:05] mbround18 commented on #48
Best of luck! Let me know how it goes

[2021-02-12 19:06] mbround18 commented on #34
I added a healthcheck in #53

[2021-02-12 19:06] mbround18 commented on #37
Added a way to specify the schedule for the cronjob #53

[2021-02-12 19:49] #34 closed

[2021-02-12 19:49] mbround18 commented on #34
Verified on my test, stage, and production servers.

[2021-02-12 19:50] mbround18 commented on #37
Use variable
`AUTO_UPDATE_SCHEDULE`

Example:
[code]

Useful site for figuring out cron timings

https://crontab.guru/#0_1_*_*_*

[2021-02-12 19:50] #37 closed

[2021-02-12 19:50] mbround18 commented on #37
[valheim-server.log](https://github.com/mbround18/valheim-docker/files/5974023/valheim-server.log)

[2021-02-12 19:52] #49 closed

[2021-02-12 19:54] mbround18 commented on #54
This is a linux specific issue, timezone data does not typically adjust for daylight savings. A work around I can recommend is pick a time that your group is not online. For example like 1 am.

Use variable
AUTO_UPDATE_SCHEDULE

Example:

AUTO_UPDATE_SCHEDULE="0 1 * * *"
Useful site for figuring out cron timings

https://crontab.guru/#0_1___*

[2021-02-12 19:54] #54 closed

[2021-02-12 20:43] broizter commented on #54
That helps for updating, but it's looking through the logs that was annoying me the most honestly. I don't have this problem with a single other host/virtual machine/docker container that allows timezone to be set so I'm not sure what you mean it's a Linux specific issue?

[2021-02-12 20:45] kieron opened #60 "Import existing world from Win10/Steam environment"
Hi, is it possible to do this, use the container, but take a preexisting world?

Thanks :-)

[2021-02-12 20:47] broizter commented on #60
Just put the *.db and *.fwl files into the './valheim/saves/worlds' folder.

[2021-02-12 20:50] mbround18 commented on #60
you could also just copy the folder to where you want to mount it

Also please, if you have a question use the discussion section so others who have these questions can easily find an answer <3

[2021-02-12 20:50] #60 closed

[2021-02-12 21:14] mbround18 opened #61 "Have a question? Use discussions please <3 <3"
Hey Yall, If you have a question please post it in the [Discussions](https://github.com/mbround18/valheim-docker/discussions) section so that answers are easy to find for others <3 <3 <3

[2021-02-13 00:31] #61 closed

[2021-02-13 00:53] #48 closed

[2021-02-13 10:10] patelneel4 opened #70 "Error starting docker container"
Hi,

I'm having some trouble getting the docker container up and running. Below is my logs below once the container has been started.

Can you please shed some light as what the problem might be?

[code]

[2021-02-13 10:40] patelneel4 commented on #70
Incase you needed it, here's the docker.yml file
[code]

[2021-02-13 12:31] D0tty opened #71 "valheim-odin loop restarting"
Hi,

I think there is a problem with `valheim-odin`:

docker-compose log odin gives
[code]
docker ps gives
[code]

Is that a known behavior ?

On the other hand the server is running fine, thanks for the image, might do a PR some times in the future :)

[2021-02-13 16:38] mbround18 commented on #71
Do you have restart: always turned on?

[2021-02-13 16:41] mbround18 commented on #71
Errmm wait a minute did you copy the docker-compose inside the repo? Or from the readme? You should remove the odin service from your docker-compose

[2021-02-13 16:43] mbround18 commented on #70
It looks like you have something blocking steam from downloading inside the container 0.o

[2021-02-13 16:43] D0tty commented on #71
I have a restart unless-stopped yes

I cloned the repo so yeah I have the docker-compose from the repo

hum okay I guess I'll remove it then 😉

[2021-02-13 17:56] mbround18 commented on #71
Lol, maybe I should include a develop docker compose and a basic production one :P

[2021-02-13 18:11] D0tty commented on #71
Haha yeah that should do it x)

[2021-02-13 19:06] mbround18 commented on #71
@D0tty cool if I close this?

[2021-02-13 19:43] Johns3n opened #73 "Stuck at "Setting up 1 worker threads for Enlighten.""
I use the docker app in Synology to run containers and my server doesn't seem to spin up. I have included the full log here and my settings in the docker app (just a smart interface for the docker-compose.yml file really) :)

I doubt it's really an issue but just me missing something somewhere?

2021-02-13 19:36:06 | stdout | Thread -> id: 7f0e97fff700 -> priority: 1
-- | -- | --
2021-02-13 19:36:

[2021-02-13 19:58] mbround18 commented on #73
I don't know if Valheim supports unique characters in the password? 0.o

[2021-02-13 20:04] LovecraftianHorror commented on #73
Just to note that even if Valheim does allow for unique characters setting up `start_server_rusty.sh` does not properly shell escape, so things like `$` and `\\` won't be represented correctly.

I was planning on opening a PR to fix this after #67 was decided on.

[2021-02-13 20:11] Johns3n commented on #73
That seemed to be the Issue thanks :D

[2021-02-13 20:11] #73 closed

[2021-02-13 20:29] D0tty commented on #71
oh yeah my bad ^_^

[2021-02-13 20:29] #71 closed

[2021-02-14 00:07] jonaskpb opened #74 "Config from docker-compose gets ignored after automatic restart"
After the nightly automatic restart, the config values set in the docker-compose.yml seem to get lost in the configuration of the game server.
I set a custom game name and a password. When the server went back online following the automatic update, the game name was reset to the default value "Valheim powered by Odin" and I was not able to log in with the password I set in the compose file.

Howev

[2021-02-14 00:37] D0tty commented on #74
I had the same behavior but was thinking it was because of misconfiguration on my end, it seems not?

[2021-02-14 00:47] patelneel4 commented on #70
Great, thanks for your help.

I noticed the error as well but silly me simply pinged 8.8.8.8 within the container to confirm network access. But the problem ended up being DNS. For some reason the container couldn't resolve media.steampowered.com.

Sorry to bother you with a silly question that I should've thought of. :)

[2021-02-14 00:55] mbround18 commented on #74
I can take a look at this <3 i had issues connecting to server today as well

[2021-02-14 00:56] #70 closed

[2021-02-14 01:57] D0tty commented on #74
Maybe the environment variables are lost when the cronjob is run?
I could have a look on Monday at the earliest as I will have a busy Sunday and will not be able to look at it more in depth.

But it's not a pressing issue as there is already a workaround! 😀

[2021-02-14 02:54] mbround18 commented on #74
Yeah, cron always run with an empty env. I have a pr up for it now if you wouldnt mind taking a gander? #77

[2021-02-14 04:01] LovecraftianHorror opened #79 "Add a LICENSE"
It would be good to add a license to the project, so that it is clear to everyone about how they can use the content associated with it and any expectations that are brought along too (WITHOUT WARRANTY and all that usual jazz).

[2021-02-14 04:15] mbround18 commented on #79
Good call, on it! #80

[2021-02-14 04:16] #79 closed

[2021-02-14 08:40] #74 closed

[2021-02-14 09:22] mbround18 opened #82 "Auto Update quoting issue"
I swear quotes plague me...

The latest merge by me doesn't account for quotes properly on auto update. Fixing now...

[2021-02-14 09:31] #82 closed

[2021-02-15 08:34] krzysztof-drobek opened #93 "Initializing failed"
Running docker-compose with:
[code]

this is the container log:
[code]

[2021-02-15 08:44] mbround18 commented on #93
I see the issue

[2021-02-15 08:49] GiovanniK commented on #93
I have the same problem, just found this incident.
Me & friends are waiting in patience... :)

[2021-02-15 08:59] mbround18 commented on #93
I have a fix ready just testing it real quick before ill push it up

[2021-02-15 09:04] mbround18 commented on #93
Building in CI now, should be up momentarily

[2021-02-15 09:16] mbround18 commented on #93
Fix published and verified on my end, would someone else mind giving it a whirl?

[2021-02-15 09:20] temp commented on #93
Works like a charm now!

[2021-02-15 09:21] temp commented on #93
Although I have problem with **DungeonDB Start** again. I need to kill the container several times bevor it continues after DungeonDB Start. Is there any kind of solution for this problem?

[2021-02-15 09:24] mbround18 commented on #93
Look up further in the logs for game connected. The server is multi threaded and sometimes its connected before the dungeons load. <3 The two lines my server frequently ends with are:
[code]

[2021-02-15 09:26] mbround18 commented on #93
I am closing this issue as it seems to be resolved, @temp if you would like to chat more about your situation feel free to open a discussion up :)

[2021-02-15 09:26] #93 closed

[2021-02-15 14:48] Cuel opened #95 "Auto-backups?"
I don't see anything about automatically backing up saves?  With the world eater bug it seems like a good idea

[2021-02-15 16:29] #95 closed

[2021-02-16 05:02] TheDakk opened #102 "SteamCMD error"
[code]
Do we need to be concerned about the steamcmd error "Failed to find steamcmd in path"?

[2021-02-16 05:11] mbround18 commented on #102
No, it tries to find it in your path first its something you can ignore <3

It is to maintain compatibility for people who purely use Odin on a dedicated linux server. This repo is highly versatile and designed to be run on a menagerie of environments. You might see some errors but as long as you get to Game Connected (sometimes before DungeonDB Start) than you are all good :)

The repo is built t

[2021-02-16 05:12] #102 closed

[2021-02-16 15:47] CodeInKlingon commented on #49
Upgrading my vps solved this issue. For anyone curious I tried with digital oceans 1 vCPUs 1GB / 25GB Disk droplet and that wouldn't cut it. I also tried OVH     Processor: 1 vCore    RAM: 2 GiB VPS and that also did not cut it.
OVH's Processor: 2 vCore RAM: 4 GiB vps did work and I haven't had any issues yet.

[2021-02-16 17:24] TheDakk opened #114 "Odin error"
$ cargo install --git https://github.com/mbround18/valheim-docker.git --branch main
Updating git repository https://github.com/mbround18/valheim-docker.git
Installing odin v1.1.0 (https://github.com/mbround18/valheim-docker.git?branch=main#d69ba7fb)
Updating crates.io index
Downloaded boxfnonce v0.1.1
Downloaded clap v3.0.0-beta.2
Downloaded serde_json v1.0.62
Downloaded termcolor v1.1.2
Downloade

[2021-02-16 17:25] mbround18 commented on #114
What operating system are you running? you should have build-essentials installed on ubuntu or equivalent to be able to compile locally

[2021-02-16 17:30] TheDakk commented on #114
Using Ubuntu 20, was just following your directions here..

https://github.com/mbround18/valheim-docker/blob/main/docs/odin.md

Installed Rust and SteamCMD, guess i'll look for build-essentials :)

[2021-02-16 17:32] TheDakk commented on #114
Needed build-essentials to be installed.

[2021-02-16 17:32] #114 closed

[2021-02-17 07:22] Devidian opened #122 "Bug when starting 2 instances after restart"
Hey, i have running 2 container instances and after the auto update/restart one of the two instances is started twice - or better said one container is running the other containers game.

both use the same volume mounts with different environment variables.

[code]

[code]

every morning the `valheim-docker-ds-01` is running the game from `valheim-docker-ds-02`

[2021-02-17 07:30] mbround18 commented on #122
That would make sense, you have the same volume mounts in your host.

On each compose change the `/appdata/valheim` to be `/appdata/valheim-[instance number]`

Be sure to replace the instance number with a number and remove the brackets.

Example `/appdata/valheim-01`

[2021-02-17 07:46] Devidian commented on #122
i wanted to reuse the binary files, as i do on other games. And the worlds are saved by worldname so when i startup everything is running fine, only on restart it looks like one container takes wrong parameters.

i could merge them but i like to have them seperate to quickly clone and deploy another instance on demand.

[2021-02-17 07:49] Devidian commented on #122
Looks like the settings are saved in the binary directory `config.json` is this a game or an odin file created for restart? in the latter it could use the env to suffix or prefix the filename.

[2021-02-17 07:52] mbround18 commented on #122
I think I see the issue, good call out! The issue might be with Odin.

 Just got off a 13 hour shift and will have to take a look at this tomorrow ❤️

As a temporary fix, I know it will take up more space, change the root directory of the Valheim server installation. The issue might lie with the `config.json` for odin but I want to do a root cause analysis.

[2021-02-17 07:53] Devidian commented on #122
![image](https://user-images.githubusercontent.com/10413872/108172811-96902d00-70fd-11eb-9e82-0568a72166cf.png)

never got into rust yet but might be this method ?

[2021-02-17 07:59] mbround18 commented on #122
Close, it's with the parsing of that file. The fix I would like to implement is changing the expected read and write of that file to be an array of configs or Valheim arguments. Which would be keyed by the world name because all the other variables are relatively ephemeral but the world name is what Valheim needs to match.

[2021-02-17 08:00] Devidian commented on #122
Got it working!

[code]

[2021-02-17 08:00] #122 closed

[2021-02-17 08:04] mbround18 commented on #122
I'll be honest I forgot I added that feature lol

[2021-02-17 20:16] mbround18 opened #129 "[Feature]: Update Command + Update on Shutdown flag"
_Originally posted by @neoKushan in https://github.com/mbround18/valheim-docker/discussions/126_

Acceptance Criteria:
- Odin Update command which checks for updates
- Environment Flag to turn on checking for updates upon shutdown

[2021-02-17 21:02] FetaCini commented on #129
In addition to this it would be great if it could do a check before it shuts down to see if anyone is currently in the server and wait till user count = 0 before shutting down and updating.

[2021-02-17 21:36] rosudrag opened #130 "[Feature] Add mod support through BepInEx"
Valheim has a bunch of mods available on NexusMods that work when loaded through the [BepInEx modding framework](https://github.com/BepInEx/BepInEx) / https://www.nexusmods.com/valheim/mods/4 . Downloading them and shoving them on the volumes on this docker doesn't work because it needs extra setup on unix. https://bepinex.github.io/bepinex_docs/master/articles/user_guide/installation/index.html?t

[2021-02-17 23:31] rosudrag commented on #130
I've tried adding BepInEx myself but I'm beat... The loader startup scripts just sets up some env variables which can be done in docker-compose with:

- DOORSTOP_ENABLE=TRUE
- DOORSTOP_INVOKE_DLL_PATH=/home/steam/valheim/BepInEx/core/BepInEx.Preloader.dll
- LD_LIBRARY_PATH=/home/steam/valheim/doorstop_libs
- LD_PRELOAD=libdoorstop_x64.so
- DYLD_LIBRARY_PATH=/home/steam/valheim/doorstop_libs
- DYLD

[2021-02-17 23:58] LovecraftianHorror commented on #129
Alright, so I'm looking through the full thread currently. There's a lot of information from quite a while ago, so I'm planning on spinning up a valheim server with no auto updating so that it can go stale after the next update and I can use it for testing to see if any of the information is out of date.

_Note: to keep things easy to digest I will refer to the duplicate server install used to che

[2021-02-18 05:09] mbround18 commented on #130
Adding belpix support wouldn't be too hard <3

[2021-02-18 06:03] mbround18 commented on #130
Before I write any code, is BepInEx the only framework used for modding Valheim?

[2021-02-18 09:00] rosudrag commented on #130
Looks to be this way only. Maybe one day the devs will add in official support but why would they even bother when HarmonyX does the job

[2021-02-18 10:14] Richi2293 opened #135 "[Feature]: Api to check server info/status"
Hi,

there is a command or an api to check the server name if it is online and how many people there are, basically the info that one sees when opening the game and looking for the server name.

Thanks

[2021-02-18 10:21] LovecraftianHorror commented on #135
I'm assuming you mean "Is there a command", in which case not yet.

You can see if the server process is running at least from the health info from `docker status`, but not the name nor the number of players online. I'm planning on adding that functionality later and providing the information through `odin` once I find the spare time (and if it gets merged).

[2021-02-18 10:25] Richi2293 commented on #135
Yes if there is a command but it could also be a public api from Valheim game which could allow us to perform a search for servers outside the game.
I think it's very convenient to quickly check if your server is online and working without entering the game or the server

[2021-02-18 13:59] neoKushan commented on #129
Appreciate you looking into this. I'm happy to help/test where I can, I don't know any rust but I'm a fairly experienced dev and not afraid to get my hands dirty.

[2021-02-18 17:17] mbround18 commented on #135
At this time, there is no API to check if the server is running. This could potentially be added via the steam API and process watching which is something I have been planning to do but I havent stubbed out the requirements yet.

[2021-02-18 17:19] mbround18 commented on #135
For reference, I have baked a healthcheck into the dockerfile. If you run `docker ps` you can see if its healthy or not.

[2021-02-19 01:35] Jake-Neighbors opened #141 "Crashing of Valheim."
I am experiencing crashing of the server within a minute of logging in.

https://pastebin.com/u8etQDBB

This just started today after performing a pull of the image to the update that came out today. However I did not see any major change.

The container has been running for a week no issues.

Not sure what else to look at here.

[2021-02-19 01:45] #141 closed

[2021-02-19 03:11] elliotpryde opened #143 "[Documentation] Restoring backups"
There's currently no explanation of how to restore a backup once it's been taken. I've tried a few different things, but moving the sole `saves` directory within the backup archive to `/home/steam/.config/unity3d/IronGate/Valheim` doesn't seem to have any effect on my character. Any explanation on how this works would be appreciated.

[2021-02-19 03:40] mbround18 commented on #143
Are you trying to restore your world? or character?

[2021-02-19 03:40] #143 closed

[2021-02-19 18:26] kevinohashi opened #146 "server lag"
Wondering if anyone is running into laggy server performance issues with de-sync/rubberbanding? Any solutions/ideas to fix this would be appreciated. It's running on beefy dedicated hardware with a good network connection, but it's happening to players on three continents at once, so it seems server related.

[2021-02-19 19:40] mbround18 commented on #146
Discussion.

[2021-02-19 19:40] #146 closed

[2021-02-19 19:48] kachunkachunk commented on #130
Just to throw it out there, ValheimPlus also incorporates BePinEx and this seems to load the server component. I'm not certain what the most elegant approach is for handling it, but maybe take a look at their newest 0.8 release for Linux/Unix servers and you can see how it loads/runs, too.

[2021-02-19 20:03] mbround18 commented on #130
@kachunkachunk done. See #148

[2021-02-20 04:12] nickkeane opened #150 "Filesystem Overwrites/Not Copying For Valheim Plus"
I'm trying to create a custom image to bootstrap ValheimPlus, in anticipation of #148. The Dockerfile looks like this:

Presumably, Odin is overwriting/recreating/doing something weird with the file system there and it's removing my copied files somehow when i start the server, b/c the files i just copied over don't exist in /home/steam/valheim/ as i expect them to when i check the folder in the c

[2021-02-20 04:13] mbround18 commented on #150
Its in the start valheim script, I can add a flag for it

[2021-02-20 04:35] mbround18 commented on #150
Btw @nickkeane if you want to test out the bepinex feature early, switch your image to `ghcr.io/mbround18/valheim:development-unstable` it should be accessible via github but I am not sure.

[2021-02-20 04:35] mbround18 commented on #150
It has the switch for force installation
![image](https://user-images.githubusercontent.com/12646562/108583920-f9e2b080-72f1-11eb-8615-5471c319c5e7.png)

[2021-02-20 05:19] nickkeane commented on #150
I'm getting an unauthorized error when referencing the image, not sure if I'm doing it right:

[code]

[2021-02-20 05:45] mbround18 commented on #150
Huh it should be open permissions on that archive, let me try to push to dockerhub

[2021-02-20 05:57] mbround18 commented on #150
Sweeet looks like someone stopped trying to gain access to my dockerhub,

try just `mbround18/valheim:development-bepinex` which should pull from dockerhub

[2021-02-20 17:13] nickkeane commented on #150
When starting the dev image I get this error, the stable image seems to bootstrap steamcmd fine:

[2021-02-20 17:49] mbround18 commented on #150
Do you have any weird networking preventing the container from reaching outside? Try running docker-compose  down and then docker-compose up

[2021-02-20 18:30] nickkeane commented on #150
No it works perfectly fine with the other image (mbround18/valheim:latest). Was something changed with steam or the file system in the dev branch?

[2021-02-20 19:53] mbround18 commented on #150
Nada nothing was changed in comparison to the steamcmd but i did do some work on the dev branch. Take a look at https://github.com/mbround18/valheim-docker/discussions/149 for the changes that are occuring. Thats also where a few peeps are doing testing as well.

[2021-02-21 23:42] mbround18 opened #152 "[Feature] Discord Notification through webhook"
Acceptance Criteria:
- Notification class for sending notifications
- Provide  an environment variable to enable/disable
- if present send notifications based on start, stop, and updates.

[2021-02-22 00:51] nogweii commented on #152
A variation of this that would also be appreciated is a more generic webhook, so that custom software could be integrated. e.g. A generic webhook could send messages to an HTTP server that can turn around and send to Slack, Matrix, or Pushover.

[2021-02-22 00:56] LovecraftianHorror commented on #152
Can you expand a bit on how that would work? Are there exiting solutions that can translate some generic webhook requests to different platforms, or is that something we would need to work on?

[2021-02-22 02:38] mbround18 commented on #152
I could throw together something like that  where it sends a post with a a documented request body? And then add a mutation layer for discord specific events. Thoughts?

[2021-02-22 02:49] LovecraftianHorror opened #153 "[Enhancement] Improve docker image build times"
# Cache odin compilation with `cargo chef`

I'm sure you'be noticed, but currently there is a full clean compile each time the `odin` image is built. `cargo chef` helps fix this issue by doing some magic behind the scenes to enable docker to cache the dependencies and all that. I've personally been using it already locally to help with build times when testing. This is the custom dockerfile I've b

[2021-02-22 03:44] findanish opened #154 "Cant find server ingame"
Hi there,

I have PUBLIC=1 set but none of my friends are able to see the server ingame or steam. They can however add the server by ip from steam and ingame but not by name. Is it because i have spaces in the server name?

[2021-02-22 03:47] mbround18 commented on #154
Nada this is a limitation on Valheims server list side. They limit the amount of servers visible, checkout the discussion on the subject here: https://github.com/mbround18/valheim-docker/discussions/51

[2021-02-22 03:47] #154 closed

[2021-02-22 03:48] LovecraftianHorror commented on #152
Would that be within `odin` or a separate service? I think a web server that can be spawned with options to relay the messages to slack, discord, etc. could work well, but if there is a pre-existing service that already basically does that then it would be nice to leverage too.

[2021-02-22 04:33] mbround18 commented on #152
This would be an Odin option using ureq to post to an outgoing webhook.

Typical infrastructure for something like this would be

Odin -> post request -> webhook -> an independent webserver ingests it and sends it to where it needs to go.

In the case of discord or similar chat platforms it could be simplified by sending directly to discord through their interface for a webhook which is why I sugg

[2021-02-22 06:18] LovecraftianHorror commented on #129
Hello again everyone! I figured I would try to get all my thoughts down in writing to force me to organize everything I've found.

_Note: all paths are based on the path from being the steam user in the standard server install. i.e. from within_

[code]

_Note: anything that looks enough like `json` to make you just wish it was just `json` is really Valve's basically undocumented `vdf` data format

[2021-02-22 07:59] mbround18 commented on #129
@LovecraftianHorror Excellent breakdown! My suggestions are to

- For the update checker, I like the idea of nuking the app info when we update. There are also another set of variables we could try, thoughts?

[code]

- You are correct in the event that the two github repos you linked and for other games they use a staging area and rsync over the files. This can be cumbersome as the storage utiliz

[2021-02-23 01:49] #130 closed

[2021-02-23 01:49] #150 closed

[2021-02-23 02:21] LovecraftianHorror commented on #129
Oh I didn't know about that, if we could just use one command then that would be simpler. Do you know what the output looks like when there is an update available? I would assume either the `install state` or `update state` value would change, but I'm not sure what to.

It would be nice if we could handle all of the `steamcmd` stuff in rust if possible. I've poked through the docs a bit there, but

[2021-02-23 02:46] mbround18 commented on #152
![image](https://user-images.githubusercontent.com/12646562/108796714-3c98c880-753e-11eb-8962-5cd51daa024d.png)

[2021-02-23 04:49] cdaringe opened #161 "Everytime a second player joins server, server crashes"
# Problem

Player joins, then:

[code]

[2021-02-23 05:13] #161 closed

[2021-02-23 07:34] mbround18 commented on #153
Ohh my, that does speed up builds considerably :D

[2021-02-23 14:03] nickkeane opened #166 "[Enhancement] New Env Variable for Valheim Plus 0.8.5"
ValheimPlus 0.8.5 adds a new env variable, DOORSTOP_CORLIB_OVERRIDE_PATH=./unstripped_corlib

Without it the following error occured:

valheim    | ==> /home/steam/valheim/logs/valheim_server.err <==
valheim    |
valheim    | Unhandled Exception:
valheim    | System.MissingMethodException: void System.IO.File.WriteAllText(string,string)
valheim    | [ERROR] FATAL UNHANDLED EXCEPTION: System.Missin

[2021-02-23 16:54] mbround18 commented on #166
Not a bug, an enhancement. They just released this feature as of 9 hours ago.

Ill take a look at it.

[2021-02-23 20:08] #153 closed

[2021-02-23 20:31] #166 closed

[2021-02-23 23:05] mbround18 commented on #129
I did an a lot of run around the Rosie on this :P we could diff these two commands to check if there is a version update :P

![image](https://user-images.githubusercontent.com/12646562/108919779-d620b280-75f0-11eb-9014-b3693bfb4050.png)

[code]

[code]

[2021-02-24 02:28] samcat116 commented on #135
I'm not sure if this is the same thing as this issue, but it would be great to have some sort of liveness probe so that I could easily run this properly in Kubernetes. It seems that [Kubernetes can't make use of the heathcheck in the Dockerfile].(https://github.com/kubernetes/kubernetes/issues/25829)

[2021-02-24 16:04] patricker commented on #135
In other servers, like arkmanager, you can run a status check. Could an `odin status` be added?
I have a Discord bot for Ark that I use to run commands in docker to get server info by doing things like: `docker exec -it arkmanager status` right now. It would be great if I could do this with odin.

[2021-02-24 17:59] mbround18 commented on #135
I love arkmanager and I have built a container + web interface before for them :) Of which I agree, unfortunately though, Valheim does not support RCON nor does it have a good way to get information out of the server. Currently, the only way to get information about your server would be to query steams API but that would require everyone to generate an API key to access it. Even then though, I wou

[2021-02-24 20:46] michaelgrosser opened #170 "[Bug] Docker Container crashes on entrypoint.sh"
## System Information

Operating System: Amazon Linux 2
Docker Version: 19.03.13-ce, build 4484c46
Docker Compose Version:  1.28.4, build cabd5cfb
User & Group On Host: ec2-user/ec2-user 1000:1000 (non-root)
Are you running with BepInEx? No

## Issue Description

The Valheim server crashes on entrypoint.sh. The following is the entirety of the logfile from the Valheim container

[code]

This my Do

[2021-02-24 20:49] mbround18 commented on #170
What version of the container are you running?

[2021-02-24 20:49] michaelgrosser commented on #170
Added note - this does not happen if you use the 1.2.0 image from your Dockerhub repo, but your getting started documentation has `latest` in the docker-compose example. It appears something is broken in the `latest` version of the image.

[2021-02-24 20:50] mbround18 commented on #170
I see, I will take a gander one moment

[2021-02-24 22:12] #170 closed

[2021-02-24 22:12] mbround18 commented on #170
new version of latest should be up in ~10 min.

[2021-02-24 22:23] mbround18 commented on #170
@michaelgrosser good callout! Should be live now https://hub.docker.com/layers/135882245/mbround18/valheim/latest/images/sha256-8b0debd28b66dd8dd07b05ed0604fd0e75a0367227b9b868f61dd2347f843134?context=explore

[2021-02-24 22:57] michaelgrosser commented on #170
@mbround18 Hey, thanks for the quick fix and for providing the repo in general. I was considering writing something myself, and you saved me a bunch of time!

[2021-02-25 00:09] chlorophant opened #172 "Select world seed as env variable"
The readme does not clearly state which if any of the variables correlate to a world seed. I would like to use "Odinisking" seed.

I set: WORLD="Odinisking"

However the server startup logs indicate it is not being used.

02/24/2021 18:04:37: Initializing world generator seed:YVfxTiKNFD ( 1611789227 )   menu:False  worldgen version:1

Is there a variable that isnt documented or what?

[2021-02-25 00:12] LovecraftianHorror commented on #172
`WORLD` isn't the world seed. AFAIK from the limited amount of information provided in the valheim dedicated server getting started guide there isn't a way of specifying a seed (I'd love to be corrected here. I looked into passing in the seed as an env var a bit before)

[2021-02-25 00:13] mbround18 commented on #172
[Valheim Dedicated Server Manual.pdf](https://github.com/mbround18/valheim-docker/files/6039632/Valheim.Dedicated.Server.Manual.pdf)

[2021-02-25 00:13] #172 closed

[2021-02-25 06:00] LovecraftianHorror commented on #129
Getting time to dig into this a bit more (getting things together to move). I'll have to double check that the command above doesn't still use the cache, but if it doesn't then that's also a good option. I have most of the work done for the PR, I'll open up a draft before I call it for the night!

[2021-02-25 07:45] nickkeane opened #175 "[Enhancement] Server Password Disable Wildcard"
Can a special string like a wildcard be used to disable the password i.e. PASSWORD="*" or PASSWORD="DISABLE"?

I have ValheimPlus set up in the config to disable password requests. According to one of their issue responses, it doesn't work when the password gets populated. In this case, a blank or non-specified password results in '12345' instead of an empty or non-existent config option.

[2021-02-25 07:48] mbround18 commented on #175
Use longship to set a disabled password

[2021-02-25 07:48] #175 closed

[2021-02-25 13:42] dkurzaj commented on #129
Actually there seem to be this implementation : https://github.com/rumblefrog/a2s-rs

[2021-02-25 14:53] neoKushan commented on #129
Is that not specific to Source games (rather than Steamworks games)? Valheim is built on Unity, not source.

[2021-02-25 17:28] LovecraftianHorror commented on #129
@neoKushan I'll have to double check, but steam has some way of accessing the player count since it reports it in the direct server connection screen.

---

@mbround18 well now that there was another update I can confirm that `+@bCSForceNoCache 1` still uses the cache while removing the `appingo.vdf` forces the info to update :upside_down_face:

[code]

[2021-02-25 17:45] LovecraftianHorror commented on #129
Thanks for the heads up @dkurzaj ! I didn't find it because they don't include any key words relating to steam queries for crates.io, but it looks like it could be exactly what I needed for this! I just modified the unit test to point to my server and it looks like there's quite a bit of info

[code]

[2021-02-25 18:56] Phenome commented on #135
I would love to help out and potentially create a PR that does it. But I have no idea how to query it.
I ran `odin status` within the docker and that's unavailable. Here are the available odin commands (when running within the container):
[code]

[2021-02-25 19:55] mbround18 commented on #135
Currently expected, this issue is to create the odin feature called `status`. What Valheim lacks is RCON or some other api to query the interface.

[2021-02-25 19:55] mbround18 commented on #135
At this current time there is no status check available other than pinging your game/query port for livelness

[2021-02-25 20:22] LovecraftianHorror commented on #135
@mbround18 I mentioned it a bit in another issue, but I think we can get the player count and server name through a steam query and then we can also check if the server process' cpu and ram usage.

Would you be open to exposing this info through a `odin status` subcommand? If so then I can open a PR for it in a few days. It would also be nice to expose a `--format json` flag to make it easier for

[2021-02-25 20:29] mbround18 commented on #135
I dig it, I would suggest the output be something more akin to
[code]

[2021-02-25 20:59] cmontois opened #186 "[Questions] How to import valheim world from local to this dedicated server"
Hey i exported the <world>.fwl & <world>.db from my local to a compute engine on GCP (put them in the shared volume), I changed the env var World from your docker-compose. Restarted the server and I got the good map but I don't have the building from my local. Any idea ?

[2021-02-25 20:59] #186 closed

[2021-02-26 02:30] rennat opened #190 "Auto backups not being deleted"
The device ran out of storage space, all backup files are present back to the start of the server on Feb 20th.

[code]

`$ ls valheim/backups`

[code]

[2021-02-26 02:48] LovecraftianHorror commented on #190
Yup that looks like a bug. I've narrowed it down to `auto_backup.sh` using a couple env vars, yet it's called by `auto_update.sh` and `start_valheim.sh`, yet neither of those pass in `AUTO_BACKUP_REMOVE_OLD` nor `AUTO_BACKUP_DAYS_TO_LIVE`

[2021-02-26 02:51] LovecraftianHorror commented on #190
Would it be enough to just

[code]

before calling `auto_backup.sh`?

[2021-02-26 02:54] LovecraftianHorror commented on #190
Hmmmm, shouldn't the cron job for backing up still get this though? @mbround18 is much more familiar with all this

[2021-02-26 02:58] mbround18 commented on #190
I'll take a look at this after dinner :)

[2021-02-26 03:28] mbround18 commented on #190
@rennat what version of the image are you running?

[2021-02-26 03:36] rennat commented on #190
`$ docker images`

[code]

[2021-02-26 03:42] mbround18 commented on #190
@rennat can you pull latest? I did some work in here 3 days ago https://github.com/mbround18/valheim-docker/commit/474ed4d5cd79accdb83db309a6316d29e0e70bc8#diff-9df2e6bf8f482f7bea889ea17c0a3ce00e757bc71f74044b655b00998bc58f72

[2021-02-26 03:45] rennat commented on #190
Sure I'll pull in a bit, I've got some of our players on now commiserating about the loss of a days building. I don't have the heart to kick them off right now

[2021-02-26 03:48] mbround18 commented on #190
If youd like you can hot patch it for now
[code]

[2021-02-26 03:54] rennat commented on #190
yep after running a pull and down/up the older backups are deleted

[code]

[2021-02-26 03:58] #190 closed

[2021-02-26 04:19] #152 closed

[2021-02-26 09:50] mhwcat commented on #135
Valheim lacks RCON, but you can absolutely send a valid A2S query to the server and it will respond with bunch of server information. I'm currently using it to display player count and server version on Discord. One thing that doesn't work yet is player list (it correctly show player count and even lists them, but player information is empty).
A2S reference: https://developer.valvesoftware.com/wik

[2021-02-26 09:54] LovecraftianHorror commented on #135
@mhwcat that is what I was referring to in my comment above talking about steam queries :D

[2021-02-26 15:41] Zate commented on #135
Doyou think its possible to perhaps add the status function or rcon ability through the BepInEx integration?  We might be able to build a plugin with that and use its hooks to query the info?  I'm just starting to explore BepInEx plugins, if I find a way to do that I will come back and write more on it.

[2021-02-26 17:56] ragingdave opened #206 "Auto update on startup doesn't run"
Title says it all, the auto update never runs. This looks to be an issue with both the conditional logic since the auto update would only run if the first condition is false, but it's never hitting that if you mount the server volume.

Also a syntax error in the start script:
Logs say:
[code]

[2021-02-26 17:58] dkurzaj commented on #206
Seems to be fixed by https://github.com/mbround18/valheim-docker/pull/204 but not yet pushed to docker hub.

[2021-02-26 18:00] LovecraftianHorror commented on #206
Yup I believe it should work right after this latest image is published. I'm pretty sure the conditional logic is right now, but I'm also very sleep deprived currently so the more people double checking me, the better 😅

[2021-02-26 18:31] dkurzaj commented on #206
Yep, works like a charm for me!

[2021-02-26 18:51] mbround18 opened #207 "[Feature]: Ability to update webhook/notification name + status message"
Acceptance Criteria:

* User can change the name of the notification event type with a env variable.
* User can update the status of the notification event type with an env variable

[2021-02-26 18:51] #206 closed

[2021-02-26 19:58] mbround18 commented on #135
Absolutely, with bepinex you could gain any information about the game that youd like but Odin would not support it unless it met certain criteria. I can dive into the server status feature after this weekend as I will be out of town.

[2021-02-27 02:02] mbround18 commented on #135
Check it,
Without `--json`
![image](https://user-images.githubusercontent.com/12646562/109371821-da083b00-7863-11eb-8b2a-c0dec2858986.png)

With `--json`
![image](https://user-images.githubusercontent.com/12646562/109371825-e096b280-7863-11eb-84c2-95e43dbc04a8.png)

Command will exit with code `1` if it fails

You can test this feature early with the `mbround18/valheim:development-status` image bu

[2021-02-27 12:01] pfrumau opened #211 "Discord url does not allow discordapp.com"
Hi, great work!

I ran into an issue with the webhook, where it requires discord.com as a `WEBHOOK_URL`. however, when i copy paste the webhook url from the discord app, it gives me discordapp.com. i guess its the same backend. However the error is not very informative:

[code]
gives me:
[code]
because the is_discord_message returns false.

suggested update `notifications/discord.rs`
[code]

[2021-02-27 12:06] LovecraftianHorror commented on #211
That's a good catch! Do you know of any other common bases for discord webhooks, like if http can also be used instead of https? I wasn't able to find any listings from my little bit of searching.

[2021-02-27 12:22] pfrumau commented on #211
no idea, I guess these two will be about it.

Another option would be to use a regex, something like (you can try at regexr.com)
[code]

but i'm new to rust so dont know how to code that (https://docs.rs/regex/1.4.3/regex/)

ps.
Another issue i had was when i wrapped the api url in quotes it failed because the string started with "
I guess changing the documentation (docker-compose) to remove the

[2021-02-27 15:10] bforbis opened #214 "Getting Two Discord Server Stop Notifications On Container Restart"
If you restart the container while having a `WEBHOOK_URL` and `UPDATE_ON_STARTUP` set, the following happens:

1. Webhook notification that server has stopped (triggered from container stop)
2. On start, server launches into `auto_update.sh` script
    - auto_update will first call `odin stop`
    - odin will send a notification that the server has stopped again

I guess odin should check if the s

[2021-02-27 17:31] bforbis commented on #135
Would it be possible to also export server status + player count in prometheus exposition format so this info can be scraped into a prometheus/grafana stack?

[2021-02-27 17:50] #211 closed

[2021-02-27 18:23] pwlgrzs commented on #214
I can confirm, getting same doubled notifications.
![image](https://user-images.githubusercontent.com/7893951/109396326-3c7b3d00-7931-11eb-951c-40ee9c98cc7f.png)

[2021-02-27 18:32] mbround18 commented on #214
This is probably related to #213 which would start the server twice. The pull request #213 should fix that :P keep an eye on the release channel for when it is live.

[2021-02-27 23:42] mbround18 commented on #214
Can you confirm this is fixed? I am out of cell service most of the day and cannot test

[2021-02-27 23:52] pwlgrzs commented on #214
Just pulled newest image, all looks good now.

![image](https://user-images.githubusercontent.com/7893951/109403696-461b9980-795f-11eb-8b9e-ca60bc14bd5c.png)

[2021-02-28 04:55] MAL0W commented on #73
Hi, I am also mounting this docker on my Synology.
The parameters of mounting the folders in the Volume tab, do we have to put it by force?
I have been able to connect from my LAN but from outside I cannot find the server and I have redirected the 3 ports by TCP / UDP

[2021-02-28 06:04] #214 closed

[2021-02-28 09:08] mbround18 commented on #135
Could you provide more context? Would this just need to be a simple http server that displays text similar to your bullet points ?

[2021-02-28 12:14] ottobaer opened #224 "Auto backup doesn't delete files"
Hi,

I've got auto-backup and removal after 3 days enabled, but the cronjob doen't delete the old backups. It creates them just fine and I have the entry in the /etc/cron.d/

[code]

I tried running the script manually from the  scripts directory and it creates a backup but won't delete them.
The owner is the user steam (id 1000) which corresponds to a user on the system, not named steam - is that

[2021-02-28 15:54] bforbis commented on #135
Yep, that is exactly how it would work. Prometheus is an industry standard for collecting and monitoring metrics for web services, supported by the CNCF. There are tons of well maintained opensource libraries that let you capture metrics and expose in the prometheus format, along with server framework plugins to help stand up the http server.

This is true that this could be achieved via a separat

[2021-02-28 16:03] Zate commented on #135
The thing I see there is that the Bedrock MC servers use RakNet protocol. For the Valheim servers, it's either a2s, or we implement a custom BepInEx plugin that exposes an actually useful API.

I kind of think that is the way to go. A framework to go around the basic Valheim server that implements the APIs and protocols needed to correctly monitor and manage a server. I don't think the Valheim dev

[2021-02-28 19:19] Aldjinn commented on #135
I'm running a small sidecar container [1] along the gameserver which polls my server regularly using [gamedig](gamedig) and provides this data as JSON via http and optionally sends a Telegram message if someone joines or leaves the server.

[1] https://github.com/Aldjinn/valheim-server-status

[2021-02-28 19:34] Zate commented on #135
Keep in mind gamedig uses Valves a2s protocol and there are some issues with the reliability of the info specified with that.  For example, the players count, and coming/going is not always accurate.  the version is wrong, but the right version is in extra data keywords field.  The rules query doesnt work at all.

I'm hoping the devs put the version stuff right and fix what ever is making the play

[2021-02-28 19:37] LovecraftianHorror commented on #135
I've noticed those issues too, and I hope they get fixed sometime. Also there is the option to query for player information, but currently the only values I see are connected time which doesn't always seem accurate.

Still definitely better than nothing!

[2021-02-28 22:14] mbround18 commented on #224
Ill take a look at handling this in a different manor

[2021-02-28 22:15] #224 closed

[2021-03-01 04:01] arevak opened #226 "Odin notify fails with discord webhook"
Odin notify is generating messages like this:

[code]

and responds with

[code]

I think it needs to be `content` instead of `event_message`

Not too familiar with rust or I'd submit a PR and I don't know where the odin source is

[2021-03-01 05:15] mbround18 commented on #226
Odin source is in this repo under sec, that event message gets put into content. Are you on the latest dev image for discord notifications? 0.o that's the same image I am using now to run the release notifications.

[2021-03-01 05:21] arevak commented on #226
I did a docker pull like a day or two ago.,  How do I know whether im on the latest dev image? Is the image id useful?

[2021-03-01 05:26] arevak commented on #226
So to test I did the following:

[code]

docker-compose.yml
[code]

[code]

Filtered out sensitive crap with ***

[2021-03-01 05:28] arevak commented on #226
Sorry also taking the same webhook API, throwing it into postman and posting the same payload gets the same response.  Editing the payload to have content instead of event_message works just fine.

Are there maybe multiple ways to enable the webhook?  Some extra step I'm missing maybe?  I googled around a bit and wasnt able to find the api docs that reference this type of usage of the webhook.

[2021-03-01 05:41] mbround18 commented on #226
It should not be using the payload you see there, good find! Ill take a look at it

[2021-03-01 05:43] LovecraftianHorror commented on #226
There was a recent change to support the discordapp base too. I think it's just an outdated image

[2021-03-01 05:50] arevak commented on #226
Totally right, updated the image and it worked like a charm!  Bang up job guys

[2021-03-01 05:50] #226 closed

[2021-03-01 08:54] Johns3n commented on #73
![image](https://user-images.githubusercontent.com/1217620/109473484-a13eb080-7a73-11eb-82b1-b034c87d3a85.png)
![image](https://user-images.githubusercontent.com/1217620/109473504-a7349180-7a73-11eb-8a3a-45d1e3c5e305.png)
These are my port settings and volume mounts, remember to port forward 2456 on your router and then I could connect on my routers ip ala: XX.XXX.XX.XXX:2456

[2021-03-01 18:49] devsi opened #232 "Allowing world name in backup file"
I was switching between worlds from `saves/worlds/` on my server and noticed that the backups don't reflect the world change if the world alters. This makes it impossible to tell which backup file belongs to which world.

Could the backup file use also contain the world name to avoid this problem?

Alternatively, could the filename format be specified as an ENV VAR in docker-compose so we have cus

[2021-03-01 18:52] mbround18 commented on #232
Backups are per your whole save folder and not per world. Thus, if you are switching world names its best to check the `tar.gz` file for the world you wish to restore. This is because many servers utilize multiple worlds.

[2021-03-01 18:53] #232 closed

[2021-03-01 21:15] TheCatLady opened #235 "[Enhancement] Publish Docker images to GHCR"
With Docker Hub's addition of pull limits this past November, it would be nice if Docker images were mirrored on GitHub Container Registry, which doesn't have any limits (for now at least).

https://github.blog/2020-09-01-introducing-github-container-registry/

(Note that this is different from "GitHub Packages.")

[2021-03-01 21:31] #235 closed

[2021-03-01 22:06] mbround18 opened #237 "[Enhancement]: Ability to change Discord message contexts"
Acceptance Criteria:

* User can change color of Discord notification
* User can change title of Discord notification
* User can change body of Discord notification

[2021-03-02 01:30] MAL0W commented on #73
It's funny, I did not see the server from the game but my friends did, anyway I enter by local IP, everything is correct, thank you very much!

[2021-03-02 01:32] MAL0W commented on #73
Is there a way to create a second server and have both of them running at the same time?

[2021-03-02 01:37] LovecraftianHorror commented on #73
Should be as simple as setting up different mounts and using different ports

[2021-03-04 00:47] jon4hz opened #244 "System requirements"
Hi,

What are the minimum requirements for running the server? Is there a guideline for resources per user?

Thanks in advance :)

[2021-03-04 01:02] mbround18 commented on #244
Use discussions, transferring this to discussions.

[2021-03-04 01:02] #244 closed

[2021-03-04 08:10] AlexSoder opened #246 "[Bug] Wrong Discord message on start after automatic_update"
The discord webhook sends two Stop messages and no start message after automatic restart due to automatic_update=1.
The second message says "Stop Successful" which  leads me to believe it is supposed to say "Start Successful".
<img width="409" alt="Screenshot 2021-03-04 at 09 04 45" src="https://user-images.githubusercontent.com/3648302/109931204-d728a280-7cc8-11eb-8dd7-bf182d33336c.png">

[2021-03-04 09:03] LovecraftianHorror commented on #246
Moving this over to discussions with the other questions/bugs (#61)

[2021-03-04 09:03] #246 closed

[2021-03-04 10:38] Saturate opened #248 "[Bug]: AUTO_UPDATE causes "Incorrect password" after reboot."
I've tried the auto update feature, but after the restart we can't connect as it says the password is incorrect. If i then restart the container everything works correctly.

[2021-03-04 11:50] mhwcat commented on #135
It seems like after 0.147.3 update A2S queries stopped working. Has anybody had any luck with querying server now? For me neither server browser, nor gamedig or custom queries work now. :(

[2021-03-04 12:05] gclem commented on #135
it still works for me.

Le jeu. 4 mars 2021 à 12:50, mhwcat <notifications@github.com> a écrit :

--
Cordialement,

CLEMENT Giovanni.

[2021-03-04 13:49] Aldjinn commented on #135
For me, a gamedig query is still working fine:
[code]

[2021-03-04 17:40] mbround18 commented on #248
Huh, ill take a look at his

[2021-03-05 08:09] pwlgrzs opened #255 "No "Start Successful" Discord notification on auto-update"
Server stops at 5AM for auto-update following these variables:
  -e AUTO_UPDATE=1
  -e AUTO_UPDATE_SCHEDULE="0 5 * * *"

Our Discord gets 2 notifications:

![image](https://user-images.githubusercontent.com/7893951/110086228-66e65380-7d92-11eb-879c-4ee6f192250a.png)

but we do not receive Start Successful message.

[2021-03-05 08:12] LovecraftianHorror commented on #255
Can you post a (censored) docker compose file (or equivalent), along with a server log and when you last pulled the image. This has been a bug that seems to have hit a few people, but I still haven't been able to reproduce.

Don't list the full webhook url you pass in, but knowing if it's discord or discordapp would be nice too.

[2021-03-05 08:19] pwlgrzs commented on #255
`#!/bin/bash

docker stop valheim
docker rm valheim
docker pull mbround18/valheim:latest

docker run -d \
  --name valheim \
  -p 2456:2456/udp \
  -p 2457:2457/udp \
  -p 2458:2458/udp \
  -v /local/valheim/saves:/home/steam/.config/unity3d/IronGate/Valheim \
  -v /local/valheim/server:/home/steam/valheim \
  -v /local/valheim/backup:/home/steam/backups \
  -e PUBLIC=1 \
  -e PORT=2456 \
  -e NAM

[2021-03-05 08:23] pwlgrzs commented on #255
Also, message for auto-update says: "Notification From: Your Valheim Server" while if I do odin stop it will say "Notification From: ACTUAL SERVER NAME".

[2021-03-05 08:29] LovecraftianHorror commented on #255
Does stopping and starting the container send out the messages correctly. I would pull the latest image, I think there was some work towards fixing this issue earlier today.

This is a known issue. I'll go ahead and push out a fix for this.

[2021-03-05 08:38] pwlgrzs commented on #255
I just pulled newest image but obviously we gotta wait till 5AM to see.

[2021-03-05 08:45] LovecraftianHorror commented on #255
No worries, gives me time to stall :D

In the meantime I went ahead and opened a pull request to fix the name not getting read for auto updates (#256)

![image](https://user-images.githubusercontent.com/30302768/110090303-215f6180-7d65-11eb-88f5-a38cb0aaf679.png)

[2021-03-05 16:57] #255 closed

[2021-03-05 21:04] MAL0W commented on #73
If I put different ports, would it appear in the public list of servers within the game?

[2021-03-05 21:16] Zedifuu opened #264 "Check if active player before initiating restart/update."
Just an idea to check if there are active players on the server before updating, If players are active skip ?
Would be nice so that it doesn't update and restart if there are players mid boss/raid/crypt/burial.

Also like this project, props to rust, planning on moving over from what were currently using! <3

[2021-03-05 22:40] #264 closed

[2021-03-07 04:41] #129 closed

[2021-03-07 07:00] mbround18 commented on #248
This should be fixed on a `latest` pull

[2021-03-07 09:49] Akirainblack opened #269 "REQ: Valheim Plus integrated support?"
Would you be willing to incorporate Valheim Plus including updating into the container itself?
I've seen other containers with it built in, however I would prefer to stick with your container.
If that means I have to manage it manually, then that's fine but it never hurts to ask. :)

Thank you for your work on this container.

[2021-03-07 17:28] #269 closed

[2021-03-07 17:36] #248 closed

[2021-03-07 17:38] mbround18 opened #272 "[Enhancement] MODS environment variable"
Acceptance Criteria:
* `installmod` odin command.
* Ability to detect if the mod is a `dll` or valheim plus.
* staging the mod information.
* installed mods configuration file.

[2021-03-08 08:28] MoryCorp commented on #135
I don't know if this can help but this is the Steam API I am using to know if my server's running/if players are online :

[code]

[2021-03-08 14:55] neoKushan commented on #272
Thunderstone has a good documented API we could probably take advantage of to pull mods in https://valheim.thunderstore.io/api/docs/

[2021-03-08 17:43] mbround18 commented on #272
A good amount of these mods are windows client only tho. Thoughts on how we could get peeps to not install those than get confuzzled?

[2021-03-08 17:44] mbround18 commented on #272
Also, I already have the nexus, unfortunately nexus is paywalled. If you want to install any nexus mods you will have to use their premium *rolls eyes*

[2021-03-08 17:56] neoKushan commented on #272
It's a good question, there doesn't seem to be any kind of tags to indicate server vs client even on nexus mods which is a bit of a bugger as that would be a natural way to filter.

The bigger elephant in the room is that ValheimPlus is one of the few not on Thunderstone (though I believe most of the mods are compatible with it).

I guess it's a case of how helpful we want to be. We could theoreti

[2021-03-08 18:25] mbround18 commented on #272
a lot of other docker repos do that heavy lifting but honestly they are hard coding that. I am taking the approach of doing an analysis on any zip downloaded and extracting where needed. Similar to how minecraft does it :) that way it can be agnostic of what url you add and all you have to do is keep track of which link is in which order. (mod loader list) Than if you want a new version or an olde

[2021-03-09 02:30] ouvoun commented on #272
Requests for them to join Thunderstore seem to be pretty much ignored. Frankly I'm not sure why. Regardless, it's an excellent mod repository with a lovely client to boot (r2modman). I've used it extensively for Risk of Rain and it's been quite nice.

Unfortunately as you've discovered, @mbround18, there isn't metadata describing platform support. In my humble opinion that responsibility should ju

[2021-03-09 03:51] mbround18 commented on #272
Its getting there <3 the hurtle i am at now is how do you differentiate between a mod that needs to be extracted to the root of the server dir or extracted into the bepinex/plugins directory?

![image](https://user-images.githubusercontent.com/12646562/110415962-1b60cd80-8050-11eb-9fd2-6af51804f594.png)

[2021-03-09 08:25] avendretter opened #274 "adding admins is not working"
Heya

I noticed, that adding an steamID64 to the adminlist.txt does not have any effect.

my adminlist.txt:
[code]

I did the following:

1. `docker-compose up -d` to install everything (first boot)
2. login, then hit F2 and go me steamID64
3. `docker-compose down` to stop the server
4. added my steamID64 to the adminlist.txt in the mounted save dir
5. `docker-compose up -d`

my docker-compose fil

[2021-03-09 09:26] pwlgrzs commented on #274
Are there specific commands not working or just none of them work?

[2021-03-09 09:39] avendretter commented on #274
basically, nothing is working I guess. I tested god and ghost because those should be the most obvious of all ;)

[2021-03-09 10:00] pwlgrzs commented on #274
These cheat commands do not work in multiplayer dedicated server as far as I know.

Only available commands are:
help - Shows all the available server commands
kick [name/ip/userID] - Kicks the named user
ban [name/ip/userID] - Bans the named user
unban [ip/userID] - Unbans the named user
banned - Shows a full list of banned users
ping - Pings the server to measure latency.
lodbias [number] - Sets

[2021-03-09 10:10] neoKushan commented on #272
Can you go off of the presence of a `bepinex/plugin` tree? Presumably that folder combination would imply the .zip must be extracted to a particular root folder (which you can align based off of where the `bepinex` folder is), whereas the absence of one you can probably assume it just goes into `bepinex/plugins`.

[2021-03-09 11:38] WAR-Lust commented on #274
Some mods are able to circumvent the spawn commands on dedicated servers ( I use Valheim - Quality of Life from Nexus).

Out of the other admin cheats, Godmode works fine, Ghost is buggy and Debug mode does not do anything.
On a previous server (non-docker) Debug worked with added admin but same issue here, adding myself to the adminlist in the docker server /saves folder doesnt do anything ):

[2021-03-09 18:39] #274 closed

[2021-03-09 18:41] mbround18 commented on #272
@neoKushan sadly not all mod developers do that :P some create it in a sub folder of various names and others include various additional files to be extracted in other locations.

It might be, I just need to throw up a guide on whats an acceptable zip file to install.

[2021-03-09 19:13] ouvoun commented on #272
@mbround18 I realize a single ENV variable doesn't give you a lot of room to play with, but I wonder how feasible it'd be to define the structure of each mod?

So for each mod to install, you'd list:
- The zip URL
- The dll location within the zip file (e.g. `BepInEx/plugins/ValheimPlus.dll`)
- Config locations within the zip file (e.g. `BepInEx/config/valheim_plus.cfg`)

This would work for Valhe

[2021-03-09 20:02] neoKushan commented on #272
Thunderstone does have the mod pack details on its github: https://github.com/thunderstore-io/Thunderstore though it doesn't list specifics for valheim. It does list dependencies though, which is helpful.

Looking at a selection of mods, there's no consistency to how they're packaged and nothing in the metadata to help. It seems bepinex will recursively search the plugins folder for additional plu

[2021-03-09 20:07] mbround18 commented on #272
Currently, i am taking a non atomic approach. If you want to remove mods its up to the user to clean up files remaining on the system. As for mods I am currently testing with the following zip files:

ValheimPlus: https://github.com/valheimPlus/ValheimPlus/releases/download/0.9.4/UnixServer.zip
BepInEx from Thunderstone: https://cdn.thunderstore.io/live/repository/packages/denikson-BepInExPack_Val

[2021-03-09 20:19] neoKushan commented on #272
I'm sure you've checked this already, but it's worth knowing that the contents of both of those are almost identical, just ValheimPlus has the `ValheimPlus.dll` and `Valheim.DisplayBepInExInfo.dll` DLLs in the plugins folder and `valheim_plus.cfg` in the config folder.

The `start_game_bepinex.sh` / `start_server_bepinex.sh` files are different but I don't think there's anything importantly differ

[2021-03-09 20:46] mbround18 commented on #272
Thats not a bad idea :)

[2021-03-09 21:01] ouvoun commented on #272
I like this idea, but the downside is that it wouldn’t be able to support automatic updates for non-V+ mods.

[2021-03-09 21:06] mbround18 commented on #272
The other issue is, there is no reliable way to get valheim plus updates without hitting the github api and that has a pull rate that with the amount of people who use this container would surpass.

[2021-03-09 21:53] ouvoun commented on #272
As long as V+ isn't bundled with the container, each instance should be fine with hitting the releases endpoint without hitting any sort of limit, right? I assume the API limits are per-IP rather than per-repo.

`https://api.github.com/repos/valheimPlus/ValheimPlus/releases/latest`

[2021-03-09 22:14] mbround18 commented on #272
Good idea, i have it pulling the latest zip file with
[code]

[2021-03-10 04:02] mbround18 commented on #272
Hey @ouvoun I am going to be tossing up a dev image in a little. Are you interested in giving it a whirl?

[2021-03-10 04:30] ouvoun commented on #272
@mbround18 Sure, happy to give it a spin!

[2021-03-10 04:42] mbround18 commented on #272
Alrighty :) Its ready <3
[code]

Example docker-compose:
[code]

[2021-03-10 05:40] mbround18 commented on #272
Hey @ouvoun if you nest the plugin does it load just fine? 0.o

[2021-03-10 06:01] ouvoun commented on #272
@mbround18 Seems to, yeah! Maybe check yourself too just in case. :)

[2021-03-10 06:17] mbround18 commented on #272
[New update is out where it extracts it to a sub folder](https://hub.docker.com/layers/mbround18/valheim/development-mods/images/sha256-dc9ff37b2e0e24fdbdffbe1b23d512f5e67adc7fa36c00d4b721c15db87bf90e?context=explore)

[2021-03-10 07:22] ouvoun commented on #272
@mbround18 Nice, works great. Also tried it with a [mod ](https://valheim.thunderstore.io/package/Zinal001/Server_Messages/) that has a nested "plugins" folder structure, and it seemed to load fine.

[2021-03-10 07:41] mbround18 commented on #272
Lol true, for now tho it should be all good. I pushed a new update to the image which should fix the cron jobs :P (which i broke in the last push)

[2021-03-10 07:50] ouvoun commented on #272
@mbround18 One quick suggestion for a future improvement. Thunderstore has a nice API to get the latest version for a mod. For example, hitting this API:
`https://valheim.thunderstore.io/api/experimental/package/abearcodes/SimpleRecycling/`

Gives you this response:
[code]

It would be neat if mods could be supplied as versioned full names instead of the direct URL, so auto updates could work. For

[2021-03-10 07:55] mbround18 commented on #272
Ill wait until they solidify their api, for now you can also just copy the manual download link :P

![image](https://user-images.githubusercontent.com/12646562/110595465-4411c180-813b-11eb-81da-fed4ce618e1a.png)

I added code last push to follow redirects :P

[2021-03-10 08:00] ouvoun commented on #272
Fair enough! By the way, I see in your PR that the URL for BepInEx is hardcoded which _might_ cause some issues down the road once it updates and breaks dependencies. :) Future problems I suppose lol.

[2021-03-10 08:08] mbround18 commented on #272
Thats an easy enough change :P for just one mod its no biggie :p check out my latest push

[2021-03-10 09:37] neoKushan commented on #272
You're a machine @mbround18 !

[2021-03-10 10:32] TecHunter opened #277 "Add a TCP healthcheck to container"
It needs a way to check that container is healthy on a TCP port. For instance, on AWS the target group need a healthcheck to allow connectivity.
A simple http 200 on port 80 is enough but a check on processes could be good too

[2021-03-10 16:40] mbround18 commented on #277
Why does it need a tcp healthcheck? Is there not a way to configure aws to not have a health check? Or some alternative work around?

[2021-03-10 16:42] mbround18 commented on #277
https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_HealthCheck.html

It looks like all you need to do is copy the healthcheck I have inside the docker file

[2021-03-10 18:22] #277 closed

[2021-03-10 21:18] spannerman79 commented on #272
This looks **very** interesting.

One thing that I don't know if its been mentioned yet or not - because of how _easy_ it is to cheat as Valheim is not an authrotive server model the only Anti Cheat I've came across is [this one](https://www.nexusmods.com/valheim/mods/269).  Down side is that it needs this package of [BepInEx Full](https://valheim.thunderstore.io/package/1F31A/BepInEx_Valheim_Full

[2021-03-10 21:30] mbround18 commented on #272
Odin looks for doorstop to be in the root of the server as thats most common. Additionally it wont recognize this full package  and you would have to mess with some env vars to get it to extract properly. Good call out tho! whats the tru difference between

This:
https://valheim.thunderstore.io/package/1F31A/BepInEx_Valheim_Full/

And this:
https://valheim.thunderstore.io/package/denikson/BepInExP

[2021-03-10 22:19] spannerman79 commented on #272
Well I managed to come across https://valheim.thunderstore.io/package/1F31A/BepInEx_Valheim_Full_Updater/#reasoning:~:text=Reasoning,GitHub%20if%20you%20encounter%20any%20problems @mbround18

Interesting read as to why.  And if its the actual cause then I would tend towards former over the latter

[2021-03-10 22:35] mbround18 commented on #272
done, I have a commit which supports this package now. Will toss it up in a bit.

[2021-03-11 04:30] mbround18 commented on #272
The change should be live on the `mbround18/valheim-odin:development-mods` latest push :P

[2021-03-11 06:27] spannerman79 commented on #272
I did some testing and here is some feedback for you.

First of all - great work!

Now the nitty gritty
---------
My compose is the following;
[code]
The `TYPE` env var will fail when using `ValheimPlus` and BepInEx_Valheim_Full_Updater - could be their side too not picking up on the pack difference between ValheimPlus and the standard BepInEx package.

Also while Odin will state that BepInEx does

[2021-03-11 06:40] mbround18 commented on #272
YOu can just use type set to `BepInExFull` 0.o

[2021-03-11 07:07] spannerman79 commented on #272
Your telling me.

They _use_ to have just the plugin only over on the nexus.  Looks like its been hidden.  Maybe too many people had NFI what they were doing :shrug:

[2021-03-12 07:23] spannerman79 commented on #272
[From 0.9.5 onwards](https://github.com/valheimPlus/ValheimPlus/issues/324#issuecomment-797271856) V+ will have a compatable package @mbround18

[2021-03-12 07:24] mbround18 commented on #272
Dannng!! Nice!!! I saw your issue you posted, thank you for being such a go getter for this ❤️

[2021-03-13 17:48] ouvoun commented on #272
Looks like 0.9.5 was released. Looks like `valheim_plus.cfg` and `ValheimPlus.dll` are both listed as separate files that'd need to be installed. I guess they'd need to be copied to the config and plugins folders, respectively.

Maybe if we remind them gently enough times that Thunderstore would be a huge boon for everyone they'll do it and make it easier for everyone. At this point I can't help b

[2021-03-13 18:06] mbround18 commented on #272
Nahhh it should generate the config on launch :P so extracting the config to the config folder is extra work ;)

[2021-03-13 18:15] ouvoun commented on #272
FWIW I tried that in one of the past releases and it failed to launch due to a missing config, so if they've fixed it then that would be great. :)

[2021-03-14 03:06] spannerman79 commented on #272
It does, but it would be "easier" for first time setups.  After that yes, updating V+ will be needed as the config would need to be modified.

_if only Valheim had a smart config uptate/checker built in.  I do miss how when botania (minecraft mod) updated it only removed config coptions when they didn't apply and it appended the config file with any new config options._

[2021-03-15 00:00] mbround18 commented on #272
@ouvoun and @spannerman79 I just pushed a fix for this :)

[code]

[2021-03-15 01:39] #272 closed

[2021-03-15 03:44] spannerman79 commented on #272
Well seeing as you released/pushed these changes I thought I would actually use `BepInExFull` but alas doesn't work.

[code]

That was done with a `docker-compose up` and it did **not** grab and push in BepInExFull.

From the logs;

[code]

The tree of `/share/Valheim_Docker/server`

[code]

[2021-03-15 05:10] mbround18 commented on #272
Lol, got it working now? :P

[2021-03-16 01:25] ouvoun commented on #272
@mbround18  Awesome, great to see this merged.

At some point I think there was a regression, though. Tested using `TYPE=ValheimPlus`, and every time the server restarts the valheim_plus.cfg config within BepInEx/config gets reset to the default. Maybe that's intended, but I'd assume that it is not. :)

[2021-03-16 03:22] LovecraftianHorror commented on #272
@ouvoun Thanks for the heads up!

The server will overwrite all files from mods when it updates which can happen on startup depending on your configuration. This is undesirable behavior for config files though. Thinking on it more do you think doing something like writing potential config files with a `.new` appended instead of overwriting them would be appropriate, that way you have easy access t

[2021-03-16 03:44] ouvoun commented on #272
Hey @LovecraftianHorror! Thanks for the reply.

I like the idea of appending a suffix to the new versions of the config files without actually overwriting them. I think doing a merge would be nearly impossible to generalize to mods outside of V+, so the strategy of keeping both configs seems the most reasonable.

Would you imagine this would be an explicit behavior specifically for the `BepInEx/co

[2021-03-16 04:59] LovecraftianHorror commented on #272
I was planning on just applying this behavior to all files that fit a set of file extensions likely to be configs since I assumed many mods could have config files in different locations, but maybe that's not the case.

I'll have to sample a large set of mods to see if I can glean any extra information. I like the ability to backup mod configs, but want to see if there are any potentially better o

[2021-03-16 05:42] ouvoun commented on #272
Sounds legit! Thanks for your work on this.

[2021-03-16 09:50] ikaruswill opened #289 "Backups live 1 day longer than value in AUTO_BACKUP_DAYS_TO_LIVE"
## Background
There's an issue with the backups living exactly 1 day longer than they should, as demonstrated in my configuration and the current state of the backups directory below.

This is a big deal for people like myself who run Valheim servers on limited storage capacity, therefore timely pruning of backups is crucial.

## Expected behaviour
- Current time is:
[code]
- With a TTL of 1 day,

[2021-03-16 13:38] LovecraftianHorror commented on #289
This is a common point of confusion for a lot of people so it may be good to have `DAYS_TO_LIVE` match it's name more like the linked PR attempts to do.

The problem with just removing the `+` is that it means that it will no longer match on backups that are older than the specified time (say the container is shutdown for a full day, you now would have backups that never get removed). You could of

[2021-03-16 14:02] lankester5 opened #291 "Container startup fails: exec user process caused: exec format error"
Hi,

I am trying to get this server to run on a Pi4 4Gb model with the latest version rasbain installed.

I have docker installed, however when running docker-compose i get the following error
Starting valheim_valheim_1 ... done
Attaching to valheim_valheim_1
valheim_1  | standard_init_linux.go:219: exec user process caused: exec format error
valheim_valheim_1 exited with code 1

I am not 100% sur

[2021-03-16 14:03] lankester5 commented on #291
This is while running the standard example docker-compose file in the guide

[2021-03-16 14:15] lankester5 commented on #291
So the container is based on valheim-odin, I wonder if building valheim-odin on an arm64 based OS would be possible and would enable making a Raspberry Pi compatible container.
perhaps Ubuntu Server for Pi - https://ubuntu.com/download/raspberry-pi

[2021-03-16 14:21] LovecraftianHorror commented on #291
I am pretty sure that running it on the Pi (or other ARM computers) would require emulation or other similar translation layer. Steam only supports x86_64 AFAIK, so `steamcmd` (used by this container) and valheim's dedicated server provided by `steamcmd` both don't support ARM.

This is really outside our realm of control. There are guides for getting x86_64 working on Pis in various ways, but I c

[2021-03-16 14:32] lankester5 commented on #291
That's fair enough, I was digging through and found that the valheim Server its self is an x86_64 application, you are right.
given that the Pi4 is at the low end of recommended specs for the server I dont think there is any headroom for instruction set translation.
Thanks for your reply

[2021-03-16 14:34] lankester5 commented on #291
In principle it would be amazing to be able to have a quad core, 4Gb ram micro PC that only costs £35 able to run gaming servers.

[2021-03-16 14:34] #291 closed

[2021-03-16 14:38] LovecraftianHorror commented on #291
I definitely understand your desire for being able to run more game servers on a Pi. Hopefully Valve ends up supporting more architectures in the future so that this is no longer an issue (ARM seems to be getting more and more popular).

I did find [this reddit thread](https://www.reddit.com/r/valheim/comments/llvkgr/how_to_run_valheim_dedicated_server_on_raspberry/) talking about getting valheim

[2021-03-16 14:43] lankester5 commented on #291
Thanks :) I will take a look

[2021-03-17 04:16] ikaruswill commented on #289
Good catch @LovecraftianHorror

Thinking about it, I'm actually more for using `AUTO_BACKUP_DAYS_TO_LIVE - 1` as the `find` argument and specifically handle the `0` and negative cases which we seemed to not handle, by forcing them to `1` which is the smallest possible value.

Having a 0 value on the mtime may have undefined behaviour, or just result in unnecessary disk writes with the backups bein

[2021-03-17 04:28] LovecraftianHorror commented on #289
Sounds good to me. I think having days to live being `0` and subtracting 1 is still well defined. `find /path -mtime +-1` will match on all files which sounds right for wanting `0` days to live. Because of the ordering too having `0` days to live would keep only the most recently created backup (since backups are pruned before being created).

I _think_ that covers any other negative values too, e

[2021-03-17 04:36] ikaruswill commented on #289
In the script's case backups are pruned after new backups are created, so 0 days to live will simply delete all backups. I'll shift the backup pruning step before the creation of new backups so 0 days to live works.

You have a point on how `+-1` handles all the other cases since it selects all files essentially. I have not personally tried that until now. Interesting.

[2021-03-17 05:15] LovecraftianHorror commented on #289
Oh woops, misremembered 😅

Thanks for catching that

[2021-03-17 10:15] spannerman79 opened #292 "[BUG] Password less servers with V+ impossible"
To run a passwordless server a couple of things need to be done;

1. Make sure that you are using ValheimPlus (or modded in some way to bypass that "feaure")
2. `disableServerPassword=true` in `BepInEx/config/valheim_plus.cfg` (Using V+ for example)
3. The server **cannot** be public ( `-public 0`)

I have tested this out by creating a stock standard Valheim server (steamcmd etc), grabbing Valheim

[2021-03-17 17:48] mbround18 opened #294 "[BUG] Configs are getting overwritten by Odin"
## Discussion Post

To run a passwordless server a couple of things need to be done;

1. Make sure that you are using ValheimPlus (or modded in some way to bypass that "feaure")
2. `disableServerPassword=true` in `BepInEx/config/valheim_plus.cfg` (Using V+ for example)
3. The server **cannot** be public ( `-public 0`)

I have tested this out by creating a stock standard Valheim server (steamcmd et

[2021-03-17 18:14] LovecraftianHorror commented on #294
I should have a PR out for this later tonight. @spannerman79 since you seem pretty familiar with all this do you know the common file extensions for configs used in mods? I was planning on downloading a large set and checking to get a sample, but it'd be good to have your input too

[2021-03-17 18:20] spannerman79 commented on #294
Depending on the mods (yeah, I _know_, no set standard, its minecraft, bukkit and MCP all over again) they are usually all under `/path/to/BepInEx/config`.

If you have map sharing enabled in V+ there is one other location, its `/path/to/BepInEx/vplus-data`.  If you are going to plan for a backup that is one location that would be handy to have backed up.

As to the actual config extensions -

[co

[2021-03-20 06:51] mbround18 commented on #135
@bforbis  I added this in #298 :) It has an output of something like:

[code]

[2021-03-20 07:02] #289 closed

[2021-03-20 20:58] bforbis commented on #135
Very cool. I pulled down valheim:development-status and am playing around with it now. Some things I noticed:

- running odin status in the container prints out incorrect info sometimes.
  - Not actually sure whats going on, but it is printing out an old server name. I pruned all my containers / volumes and restarted using a completely new "NAME" environment, however execing into the container and

[2021-03-20 23:25] jonneymendoza opened #300 "Configure dataPerSec?"
Hi, is it possible to set a env variable where it edits and sets the dataPerSec as per this article below:

https://indiefaq.com/guides/valheim-fix-for-multiplayer-lag.html

Basically, without this modification,  Valheim lags a lot as it only sends 30kbps max to all clients connected

[2021-03-20 23:42] mbround18 commented on #300
This seems like a discussion question.

[2021-03-20 23:42] mbround18 commented on #300
As for this article no, it's t would require editing a dll and recompiling it. Which would be to chunky to include all the mono repos

[2021-03-21 00:56] mbround18 commented on #300
You can accomplish this with Longship mod or Valheim Plus

[2021-03-21 00:56] #300 closed

[2021-03-21 19:31] mbround18 commented on #135
@bforbis thats expected, I have not updated the image on dockerhub for a lil while. Ill push an updated image for ya to take a look at.

[2021-03-21 19:45] mbround18 commented on #135
@bforbis pull down the image

[code]

I can write a metrics http endpoint which uses status but I need help on formatting. Would something like this work:
[code]

[2021-03-21 20:13] rraval commented on #135
Hi, I'm not @bforbis but I can offer some drive by Prometheus experience.

Prometheus labels aren't quite like key/value pairs, though that's what they appear at first glance. You want to keep the range of values fairly constrained and enumerable, each specific key/value combination is its own time series (the Prometheus docs will call this "cardinality"). A general rule of thumb is to avoid non-e

[2021-03-21 21:04] mbround18 commented on #135
@rraval how is this?

When server is online,
![image](https://user-images.githubusercontent.com/12646562/111920772-1d625d80-8a4e-11eb-86fc-19c86cc230f2.png)

When server is offline but docker is still running,
![image](https://user-images.githubusercontent.com/12646562/111920819-54d10a00-8a4e-11eb-94b8-307915ee7258.png)

[2021-03-21 21:21] bforbis commented on #135
Here's the output from a prom express server I was testing against your http endpoint. This was generated using the nodeJS prom-client, so should be an accurate format. As a note, you could also pull down the official [prometheus rust client](https://docs.rs/prometheus/0.12.0/prometheus/) to generate this too if you want
[code]

You should be able to test this locally with prometheus. Add this to

[2021-03-21 21:50] mbround18 commented on #135
Alright tested with prometheus, this looks good from what I can tell:

[code]

[2021-03-22 11:14] spannerman79 commented on #300
Indeed.  This should be done with Longship, Valheim Plus and there are a couple of other mods that do this too.

In regards to V+ - https://github.com/valheimPlus/ValheimPlus/blob/0.9.5.5/valheim_plus.cfg#L436..L437

[2021-03-23 01:42] bforbis commented on #135
@mbround18 I pulled down your new version and things look good. I uploaded a sample Grafana dashboard here:

https://grafana.com/grafana/dashboards/14123

This uses a combination of your new valheim metrics and some generic cpu/memory metrics from cAdvisor

[2021-03-23 18:55] spannerman79 commented on #294
Suggestion: something to look at too https://github.com/dyoung522/valheim-plus-installer

[2021-03-23 18:59] mbround18 commented on #294
We have a fix for this already, we are going to do some paired programming on the issue later today and should have something ready to go out today/tomorrow.

[2021-03-24 01:33] #135 closed

[2021-03-25 20:26] froghilda opened #309 "how-to in adding server side mods"
I have the code base for all the mods I want to add to x server. How do I do it? I run an AWS lights ail instance with a container of your image.

[2021-03-25 21:56] #309 closed

[2021-03-26 00:14] spannerman79 commented on #294
The linked merge does not apply to this issue.

_Again_, please re-read what I _actually_ stated https://github.com/mbround18/valheim-docker/issues/292

[2021-03-26 04:39] mbround18 commented on #294
So, @spannerman79 this requires password to become optional rather than required?

[2021-03-26 07:17] spannerman79 commented on #294
Yes, with conditions that I outlined in my original closed issue.

What prevents this is whatever logic check is in place - either by Odin/script/whatever.

[2021-03-28 21:31] anonymus19941 opened #314 "[BUG]: Auto-backup script ignores AUTO_BACKUP_PAUSE_WITH_NO_PLAYERS environment variable"
The newly added *AUTO_BACKUP_PAUSE_WITH_NO_PLAYERS* flag is currently "ignored" in [auto-backup.sh](https://github.com/mbround18/valheim-docker/blob/main/src/scripts/auto_backup.sh) because the PUBLIC variable is not set in the cron file and is therefore always unset in the script.

Most environment variables get copied to the cron file by [entrypoint.sh](https://github.com/mbround18/valheim-docke

[2021-03-29 15:38] mbround18 commented on #314
Rip, good callout :P thank you, ill toss up a PR later.

[2021-03-29 16:20] mbround18 commented on #294
@spannerman79 I am back from being out of town, ill take a look at this after work <3

[2021-03-29 16:22] spannerman79 commented on #294
No probs, when it comes to open sourced software (in this case BSD 3-Clause License
software) I _never_ expect immediate to-the-second resolutions.

[2021-03-29 17:02] mbround18 commented on #294
![image](https://user-images.githubusercontent.com/12646562/112871249-edc9db80-9073-11eb-904a-e9c7ade1bd67.png)

Was able to jam a lil out on break, should have something up by lunch :)

[2021-03-29 17:10] mbround18 commented on #294
![image](https://user-images.githubusercontent.com/12646562/112873736-e5bf6b00-9076-11eb-919b-da991035b83c.png)

@spannerman79 that is all this needs right? The ability to not set the password?

[2021-03-29 17:25] spannerman79 commented on #294
For the sake of logic checking (and less issues being raised) `TYPE` **cannot** be `Vanilla` and `PUBLIC` **has** to be `0`

If `PUBLIC=1` V+ will fail unless you have set a password

[2021-03-29 18:37] mbround18 commented on #294
@spannerman79, if youd like to give it a whirl its on `mbround18/valheim:294-no-password-fix`

[See here for docker hub info](https://hub.docker.com/layers/mbround18/valheim/294-no-password-fix/images/sha256-19ca765f4c7b7457c2ec1f70f6b9383d6659155a2fbba2b19a693ce3bd207187?context=repo)

[2021-03-30 15:53] #314 closed

[2021-03-31 15:53] mbround18 commented on #294
@spannerman79 hows this looking https://github.com/mbround18/valheim-docker/pull/319?

[2021-04-01 04:12] spannerman79 commented on #294
Hi sorry been super busy with other things.

Just spun up a test docker container, added in V+ with the needed config change, set the server not to be public and I was able to connect in without a password.

Great work.

No, not an april fools joke either - _just in case_.  Actually works correctly now.

[2021-04-01 19:38] LovecraftianHorror commented on #294
Ah sorry, I missed that the password flag can't be passed in your original issue.

Just got through looking over the changes and all of it looks good to me :+1:. The only part I was worried about was not properly warning/erroring when not passing a password when one was needed, but it looks like that is all covered!

Thanks for your patience @spannerman79 !

[2021-04-01 19:40] #294 closed

[2021-04-05 02:55] mbround18 opened #322 "[Documentation] Using `ADDRESS` env variable, the documentation needs more clarification."
FYI, I ran into the same issue using `ADDRESS` env variable. There is a documentation bug on how to use that env, which I'll open an issue for.

`ADDRESS` should be set to `<Your Public IP>:<Your Steam Query Port>`.

_Originally posted by @bforbis in https://github.com/mbround18/valheim-docker/discussions/318#discussioncomment-567943_

Acceptance Criteria:

* Add documentation explaining the `ADDR

[2021-04-11 22:45] RyanKeys commented on #237
Discord can handle code snippets, so in this instance could we use diff snippets for the server status, and something like json for generalized alerts?

For example:
(On Discord only the text is colored)
[code]
[code]
[code]

[2021-04-12 16:02] mbround18 commented on #237
I have been debating on how to handle this. I was thinking of doing a template for it with a consistent message.

[2021-04-15 00:37] #322 closed

[2021-04-17 20:11] mbround18 commented on #237
I am to start tackling this this coming ~Wednesday, i think the template message would be best after a little testing.

[2021-04-19 17:01] shauder opened #333 "Tell Odin to add -console"
I may be missing it but I cannot find out how to tell odin to start the server with -console to enable the console. Which is needed for the latest update.

[2021-04-19 17:24] mbround18 commented on #333
is it needed? I vaguely remember that `-console` was only for desktop client

[2021-04-19 17:33] shauder commented on #333
One reason could be enabling cheats or server administration through the game. But the main reason I wanted to add it is the new update to terrain mechanics and the need to use "optterrain" console command to convert already modified terrain to the new mechanics/system. I will try your suggestion and report back as soon as I can try.

From the patch notes:
For existing areas where heavy terrain mo

[2021-04-19 17:36] mbround18 commented on #333
Are you sure this needs to be enabled on the server? or could you enable it on your client? In Valheim, your client drives what you have access to. For example, I am a server admin on ~15 servers with my steam 64 id on the admin list. We use the following mod to use admin command, https://www.nexusmods.com/valheim/mods/8

[2021-04-19 17:41] shauder commented on #333
Ah I see and I think I understood it wrong. Thanks for the quick responses.

[2021-04-19 17:41] #333 closed

[2021-04-22 15:20] EugenSandberg opened #334 "Can't get Valheim to update"
Hi,

I cant get Valheim to update. My local game is running the latest version 0.150.3. The server is stuck at 0.148.7

Iv'e tried pulling the image again and restarted the image.

Got the following error att startup.:

[code]
I tried going in the docker with exec-comand

[code]

[2021-04-22 16:44] EugenSandberg commented on #334
Never mind. Its working now

[2021-04-22 16:44] #334 closed

[2021-04-23 06:51] mbround18 commented on #334
Yee, sometimes you have to wait for the Valheim devs to push the new version. It takes a bit for the server edition because they always push them last.

[2021-04-23 18:57] anonymus19941 opened #337 "[Bug] shutdown.rs blocks infinitely if process can't be stopped"
I accidentially ran the valheim server as root and didn't realize it.
The auto update script, run by cron as user `steam`, tries to stop the server with `odin stop`. This calls the function `blocking_shutdown` in `shutdown.rs` (I think). This function tries to send an interrupt signal to the server process and then blocks until it doesn't exist anymore. In my case, `odin` run as `steam` user could

[2021-04-23 21:25] mbround18 commented on #337
Ohh good find! I will take a look into this, Ill see about adding a timeout or looking to see if I can get the processes user to throw an error situation on.

[2021-04-27 17:29] mbround18 commented on #337
Alright, I think I understand how I want to tackle this, from an acceptance criteria:

- Any command launched by `odin` should error if run as root. Unless an override flag is thrown.
- In the wait for shutdown, I will change it up to use result<process, error> to pass between the two functions.
- In the waiting function, it will wait for a maximum of 5 minutes on a timeout before throwing an erro

[2021-05-22 07:04] mbround18 commented on #337
I have a temp fix for this I will publish
![image](https://user-images.githubusercontent.com/12646562/119217770-4eccc900-ba91-11eb-9752-2c5bd3be3dbc.png)

[2021-05-22 21:45] mbround18 commented on #337
The error should be available now :) been a bit busy with work/school to tackle the underlying issue and will leave this ticket open but it will halt execution if you are running as root.

[2021-05-23 00:39] anonymus19941 commented on #337
Kinda forgot about this ...
Thanks for the fix. This is definitively helpful.

To the underlying issue: I'm not sure if this is helpful, because I don't know how you would do this, but I tried to fix it (or at least I have started to) according to your message (I don't really know which process you'd want to return, so I left it empty for now). Feel free to use or extend or discard it (I didn't wa

[2021-05-30 05:34] mbround18 commented on #207
This is where this is at right now,
![image](https://user-images.githubusercontent.com/12646562/120093252-e2277f00-c0cd-11eb-8f4a-cf690171f697.png)

I am generating a config file for the embedded information and I still need to add color and a few other details before feature complete.

[2021-05-30 13:19] mbround18 commented on #207
Template file for notifications:

[code]

Additionally, added some env vars for statuses.

| Variable                          | Default                            | Required | Description

[2021-05-30 13:24] mbround18 commented on #207
Adding some custom content to the `discord.json` allows for configuration to the message posted:
![image](https://user-images.githubusercontent.com/12646562/120105837-7ebe4100-c10f-11eb-988d-b0585ca8be42.png)

[2021-05-31 21:13] #207 closed

[2021-05-31 21:25] mbround18 commented on #237
@RyanKeys this is upgraded in 1.4.0

[2021-05-31 21:25] #237 closed

[2021-05-31 21:25] mbround18 commented on #237
https://github.com/mbround18/valheim-docker/blob/main/docs/webhooks.md

[2021-06-14 07:06] mbround18 commented on #337
Hey @anonymus19941 thanks for your work on this, I am looking into some shutdown work atm and trying to find a good way to handle it. My goal is to survey the running programs -> pass to a function to process them and check permissions -> if has permissions then shut down the process and ensure its shutdown with a timeout trap similar to how you have outlined :)

[2021-06-27 13:29] roobre opened #399 "Huginn /metrics endpoint lacks trailing \n"
Currently, the `/metrics` endpoint does not end each metric line with a newline character:

[code]

This confuses prometheus parsers:

`error="text format parsing error in line 4: unexpected end of input stream"`

This seems like a really easy fix but sadly I have zero knowledge of Rust so I cannot write a quick patch for it :(

[2021-06-27 17:27] mbround18 commented on #399
huh didnt know it needed a trailing slash 0.o

[2021-06-27 17:29] mbround18 commented on #399
how does prometheus ingest the output of the curl command? 0.o

[2021-06-27 21:56] roobre commented on #399
It is documented here, from what I can see: https://github.com/prometheus/docs/blob/master/content/docs/instrumenting/exposition_formats.md#text-format-details

It doesn't, I just pasted it here for reference so the lack of newline could be seen.

[2021-06-28 20:55] mbround18 commented on #399
@roobre deploy is running right now, will ping again when its released. Would you mind validating?

[2021-06-28 20:58] mbround18 commented on #399
@roobre release is good to go, should have that trailing `\n`
https://github.com/mbround18/valheim-docker/releases/tag/v1.4.1

[2021-06-29 22:06] #399 closed

[2021-06-30 19:37] roobre commented on #399
Hi @mbround18, thanks for fixing this so quickly!

I can confirm that this is working now and I can parse the prometheus metrics as expected.

[2021-08-30 09:47] renovate[bot] opened #425 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update Rust crate sysinfo to 0.20.1](../pull/422)
 - [ ] [Update dependency typescript to v4](../pull/384)

---

- [ ] Chec

[2021-09-17 23:06] Finomnis opened #442 "Odin unable to find Valheim process on linux operating systems"
Linux operating systems do not support process names with more than 15 characters:

 - https://stackoverflow.com/questions/23534263/what-is-the-maximum-allowed-limit-on-the-length-of-a-process-name
 - https://docs.rs/sysinfo/0.20.3/sysinfo/trait.ProcessExt.html#tymethod.name

This causes odin to not find the running valheim process and to incorrectly assume that it is not running.
`get_process_by_

[2021-09-19 03:58] mbround18 commented on #442
Fixed with #441

[2021-09-19 03:58] #442 closed

[2021-09-19 12:02] ottobaer opened #449 "Valheim plus not installed"
Hello,

I have enabled Valheim+ in the docker-compose file but I get an error when it tries to get the file while starting up.

[code]

[2021-09-19 12:22] spannerman79 commented on #449
[code]

This is the important part of the log.  In particular to;
`FileNotFound`

For whatever reason your docker container cannot access/download from Github.

I suggest that you test your docker networking can in fact access the internet.

I quickly added a generic alpine container to the same network I have my valheim server running on and;

[code]

[2021-09-20 07:45] Bmiest opened #450 "Fatal Error: Steamcmd needs to be online to update."
Hi, after I got the request to reset one of my world for a server, I cleared out the dirs and started a fresh install, I saw the container did not come up and had the Steamcmd error. After checking my other servers, they have the same error, however will still boot up as they are not fresh and just start the old process.
Is this a temporary issue with Steam or something on my end? We're already pl

[2021-09-20 08:15] spannerman79 commented on #450
Well from both logs you gave have the following;

`Fatal Error: Steamcmd needs to be online to update. Please confirm your network connection and try again.`

I just started up a test instance;

[code]

As you can see, properly downloaded and fully installed.

Issue is definitely on your end considering that I am on a crappy Australian FTTN connection.

[2021-09-20 08:54] Bmiest commented on #450
Welp, I just came back to this while busy with work and left the container in a restarting loop before.
It came up a few minutes ago for me aswell.
I have no explanation right now :) thanks for confirming!

Server Viking
BOT
 — today @ 10:48
Notification: <redacted>.be - Valheim 2 - Stay Safe
Start
Server Status: Start Successful

/close

[2021-09-20 08:55] #450 closed

[2021-09-20 09:20] Siythrun commented on #449
Hey, I am also getting this Issue.
Open up the running container to try and manually install the mod again from the URL

`odin mod:install https://github.com/valheimPlus/ValheimPlus/releases/download/0.9.9/UnixServer.zip`

I get the following error
[code]
However from the same running container if I wget the file to /tmp

[code]
Debug Logs look to indicate download is ok but what ever is parsing t

[2021-09-20 09:33] spannerman79 commented on #449
It is an issue on your end, either Github or your routing.

Fresh, new docker instance, full complete log;

[code]

Now the one section out of _all_ of that;

`[ODIN][DEBUG] - Successfully parsed zip file "/home/steam/staging/mods/UnixServer.zip"`

Issue your end.  Be it networking, ISP, etc.

[2021-09-20 10:34] Siythrun commented on #449
I do not run behind and proxy's or caches that I am aware of (could always be weird ISP things)
Changed internet provider(NBN FTTP) to a mobile hotspot(Optus) > Same issue
Ran on my desktop rather than dedicated server > same issue

Went into the container and manually unzip the auto-downloaded /home/steam/staging/mods/UnixServer.zip
The server starts fine and is now modded but still errors about

[2021-09-20 10:45] Siythrun commented on #449
Just ran with an older container and it works fine no errors in v 1.4.3 I am only getting the manifest issues when using the latest image

[2021-09-20 10:59] ottobaer commented on #449
This is a dedicated server that is also running other docker containers without a problem. I tried downloading the files manually inside the container as user steam and root without a problem.

[2021-09-20 11:15] spannerman79 commented on #449
Oh for fucks sake.......

@ottobaer & @Siythrun:

You are **both** correct.

DockerHub is prob caching my ISP.  It wasn't until I compared the digest of the image from Dockerhub to what I was downloading and took a closer look at both of your logs.

I humbly apologize to you both.

This is **indeed** reproducable.

[2021-09-20 11:58] spannerman79 commented on #449
`mbround18/valheim:1.4.3` - ✅
`mbround18/valheim:1.4.4` - null/doesn't exist
`mbround18/valheim:1.4.5` - ❌
`mbround18/valheim:1.4.6` - ❌
`mbround18/valheim:1.4.7` - ❌

Each test I flushed the mount data to ensure clean downloads each time.

[2021-09-20 12:14] spannerman79 commented on #449
Alternative until its fixed @ottobaer & @Siythrun :
`TYPE=BepInExFull` or `TYPE=BepInEx` with `- "MODS=https://github.com/valheimPlus/ValheimPlus/releases/download/0.9.9/Thunderstore.zip"` works with `mbround18/valheim:1.4.7`

It just seems that the `TYPE=ValheimPlus` logic is broken/borked somewhere at the moment

[2021-09-22 00:34] mbround18 commented on #449
@spannerman79 checking on this now

[2021-09-22 03:18] #449 closed

[2021-09-22 04:12] spannerman79 commented on #449
@Siythrun & @ottobaer :

On a fresh instance created with `image: mbround18/valheim:1.4.8` & `TYPE=ValheimPlus` works.

I have **not** tested other mods added in with `TYPE=ValheimPlus` as I (personally) prefer to have that set as `TYPE=BepInExFull` not to mention I have already done [enough testing](https://github.com/mbround18/valheim-docker/issues/449#issuecomment-922861320) as it is lol

Log o

[2021-10-04 13:02] Zeneixe opened #462 "Client updated, now can't connect"
The server I set up is set on AUTO_UPDATE=1 but it doesn't seems to be auto updating hence I can't connect to it due to "incompatible version".

Any ways to force an update?

[2021-10-04 13:31] #462 closed

[2021-10-04 13:31] Zeneixe commented on #462
It was enough to restart the server.

[2021-10-04 17:20] mbround18 commented on #462
@Zeneixe please ensure you are running image version v1.4.9 :) there was a bug fix for shutdown in v1.4.7+

[2021-12-24 03:27] mbround18 opened #501 "Investigate issue around odin install"
I had issues updating Valheim to the current version (got a version mismatch error on connect), and manually deleted 'valheim.x86_64' to try and force a reinstall.  This plan failed, with the output below.

[code]

It seems verification of game files isn't triggered correctly.

Running 'odin install' won't work because the docker container restarts after failing to find the executable.

I'm curren

[2022-01-28 07:08] mbround18 commented on #501
I have some progress on this one, going to allow enabling verbose logging for steamcmd which appears to fail connection on some individuals machines.

[2022-02-27 00:31] Katorone commented on #501
I'll see if I can reproduce the error in the next few days, and report back.

[2022-03-12 13:39] Katorone commented on #501
Sorry that it took this long.  I managed to reproduce the issue on a clean install.

`docker-compose.yml` file:
[code]

`.env` file:
[code]

- Installation log: https://pastebin.com/hbEaKmrz
- I then 'downed' the container, and removed `/gameserver/Valheim-test/storage/server/valheim_server.x86_64` per [start_valheim.sh](https://github.com/mbround18/valheim-docker/blob/main/src/scripts/start_valhe

[2022-03-18 01:56] mbround18 commented on #501
Thank you so much @Katorone !!! could you run with DEBUG_MODE=1 for me please? (also apologies for the delay ive been out of internet for a while)

[2022-03-29 17:45] mbruno-kr opened #558 "Fix Failing Pipelines"
The docker & rust pipelines are failing

[2022-03-29 18:57] mbround18 commented on #558
Alright other me, clam down ;P I'll get on this later

[2022-04-03 23:38] mbround18 commented on #558
Fixed

[2022-04-03 23:38] #558 closed

[2022-04-11 20:35] Yotimoto commented on #30
I just had this issue when I ran `docker-compose down`. Progress seems to be saved reliably when I trigger a save via console commands.

[2022-06-29 04:58] mbround18 opened #592 "[Bug] Reserved characters in NAME interact with env.sh during backup?"
### Discussed in https://github.com/mbround18/valheim-docker/discussions/591

<div type='discussions-op-text'>

<sup>Originally posted by **Spunkie** June 27, 2022</sup>
First is an error about `.bash_profile` that logs at the same time regardless of what the server `NAME` is set to. And the 2nd error only pops up if I put a space(` `) and a `!` character in the server `NAME`. For example with `NA

[2022-07-02 22:56] iocron opened #595 "Type + Mods Attributes with Syntax Errors"
Type and Mods in the example https://github.com/mbround18/valheim-docker/blob/main/docs/tutorials/getting_started_with_mods.md are terribly wrong + syntax errors (yaml.parser.ParserError: while parsing a block mapping).

[2022-07-03 00:56] spannerman79 commented on #595
Unable to replicate.

The mods section is correctly formatted in that example.

In fact my docker-compose has a much larger mods section.

pebkac

[2022-07-06 00:37] mbround18 commented on #592
@Spunkie i just got home and tested with backups, they ignore the name parameter

valheim-docker-valheim-1  | [Valheim][steam]: Backup process complete! Created 20220705-173501-backup.tar.gz

My guess, is that you are hitting a limitation of the tar gz crate. Ill do some further investigation but this is something i might not be able to fix.

[2022-07-08 02:00] #592 closed

[2022-07-08 02:00] mbround18 commented on #592
Closing due to stale

[2022-11-07 06:53] ExQDev opened #625 "World Save on shutdown [Windows, Docker Desktop]"
Hello!
I've got a problem, that world never saves. There is no .db file in worlds folder, it never been created or updated if I put it by myself.
Every container startup it generates world again and again, telling me that no .db file was found:
`missing /home/steam/.config/unity3d/IronGate/Valheim/worlds_local/StEvilOnline.db`

I tried to find solution of this problem, but nothing found.
All right

[2022-11-07 06:59] spannerman79 commented on #625
Modded?

Give `docker-compose.yml` - use markdown.

[2022-11-07 16:57] ExQDev commented on #625
[code]

[2022-11-07 16:59] ExQDev commented on #625
BTW, I'm on windows

[2022-11-07 22:36] ExQDev commented on #625
Just discovered that the world is finally saved, but he does it too rarely and especially not when necessary. E.g., when shut down. Or reboot. Just maybe once a day. How I can setup it frequently?

[2022-11-08 01:57] mbround18 commented on #625
@ExQDev im very curious to why yours isnt shutting down propery, I build & test the image on my windows machine. Do you have any special docker configurations?

[2022-11-08 02:38] spannerman79 commented on #625
The following en var `TYPE=BepInExFull` is only really needed for a very _small_ number of mods. I don't have those on hand - and the one that _use_ to require it (and requested by me to add BepInExFull) switched to standard BepInEx awhile ago.

`BepInExFull` is outdated compared to `BepInEx`

Changing from _any_ modded type to `TYPE=Vanilla` requires a re-install of the server. Going from your `d

[2022-11-08 15:47] ExQDev commented on #625
My docker configuration is basic, almost clear with defaults.
Thank you about BepInEx suggestion, I'll check it out.

[2022-11-09 01:19] spannerman79 commented on #625
On `SIGINT` the server does save by default.

This is the reason why I added https://github.com/mbround18/valheim-docker/commit/e8346c8cfc077435f5cde8ec860affb33b50a1bf

**How** exactly are you stopping the container?  Are you using standard `docker-compose down` or something else?

[2022-11-09 02:35] ExQDev commented on #625
I am using these buttons:)
![image](https://user-images.githubusercontent.com/17617393/200723314-48b7fb85-00bd-462b-9ebf-08ddb3898b02.png)

[2022-11-13 23:20] mbround18 commented on #625
@ExQDev i have not tried it with those buttons, have you tried it with the standard docker commands?

[2022-11-18 23:43] ExQDev commented on #625
docker-compose down takes the same effect

[2022-11-19 00:50] mbround18 commented on #625
@ExQDev Alright, got my windows machine back online going to give it shot

[2022-11-19 01:20] mbround18 commented on #625
@ExQDev alright built a little shack now gonna just restart the server with the docker desktop

[2022-11-19 01:23] mbround18 commented on #625
Alright the shack did not survive using the docker desktop

[2022-11-20 06:49] mbround18 commented on #625
@ExQDev looks like the stop signal is getting processes successfully with the right pid on windows

[code]

[2022-11-20 06:54] ExQDev commented on #625
But still no reaction with world save..

[2022-11-20 06:58] mbround18 commented on #625
@ExQDev I am going to try forcing sigint

https://valheimbugs.featureupvote.com/suggestions/159711/dedicated-server-does-not-save-world-on-sigterm
![image](https://user-images.githubusercontent.com/12646562/202889953-17227426-7bd0-43a5-8553-1c51bb5aabd3.png)

[2022-11-20 07:08] mbround18 commented on #625
That did not work or change anything

[2022-11-20 07:51] spannerman79 commented on #625
I think the title of this issue needs to be changed to reflect on which OS this is being ran on.

On Linux, be it within a VM (pick _any_ linux distro) or bare metal this isn't an issue as this image correctly sends `SIGINT` and valheim correctly shutdowns and saves.

NB: Remember the main dev for Valheim (Iron Gate) **runs** native linux himself.

[2022-11-23 06:51] ExQDev commented on #625
Changed title

[2022-11-24 07:23] mbround18 commented on #625
Dope managed to solve it, @ExQDev  can you try with image `mbround18/valheim:sha-2cfb246`?

[2022-11-25 01:43] ExQDev commented on #625
@mbround18 yep, everything is good. tried to stop with a different ways, such as stop button, Ctrl+C, docker-compose down, works well!

[2022-11-25 01:44] #625 closed

[2022-11-25 01:48] #501 closed

[2022-11-25 01:48] mbround18 commented on #501
Closing due to inactivity

[2022-11-25 02:28] ainglimo-personal opened #629 "Not able to see BepInEx overlay in game when using TYPE=BepInEx"
Hi there!

I apologize if this question isn't in the scope of what you do because it is mod related, but since we are using TYPE=BepInEx which is a Environment Variable being set in the docker-compose file, I figured I'd check to see if this is an expected issue with the latest Valheim Public test patch.

Issue: I am not seeing the BepInEx overlay in game after having just installed BepInEx and Up

[2022-11-25 02:59] spannerman79 commented on #629
Out of the scope of this issue tracker

https://valheim.thunderstore.io/package/denikson/BepInExPack_Valheim/#:~:text=Last%20updated-,5%20months%20ago,-Total%20downloads

In short - beta branches don't have mod support _unless_ stated so by BepInEx devs.

[2022-11-25 03:12] ainglimo-personal commented on #629
Ack. Understood. Will close then. Thanks :)

[2022-11-25 03:12] #629 closed